<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Admin Panel | Create Post</title>
    
	<!--SEO Control-->
	<meta charset="utf-8" />
    <meta name="description" content=" ">
    <link rel="icon" href="{% static 'images/favicon.jpg' %}">
    <meta name="robots" content="no-index,nofollow">

    <!--Viewport Control-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
   

    <!--Bootstrap CDN-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!--Remix Icon CDN-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--Font Awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
   
   <!--CK Editor CDN-->
   <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/decoupled-document/ckeditor.js"></script>

   <!--Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="sidebar">
    <div class="logo-details">
      <img src="{% static 'images/logo.png' %}">
    </div>
    <ul class="nav-links">
      <div class="item">
        <a class="sub-btn">Manage History<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
            <a href="{% url 'adminhistory' %}" class="sub-item">Manage History</a>
            <a href="{% url 'create-trade' %}" class="sub-item">Add History</a>
        </div>
      </div>

      <div class="item">
        <a class="sub-btn">Manage Store<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
            <a href="{% url 'adminstore' %}" class="sub-item">Manage Products</a>
            <a href="{% url 'create-store' %}" class="sub-item">Add Product</a>
        </div>
      </div>

      <div class="item">
        <a class="sub-btn">Manage Courses<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
            <a href="{% url 'admincourse' %}" class="sub-item">Manage Courses</a>
            <a href="{% url 'create-course' %}" class="sub-item">Add Course</a>
        </div>
      </div>
      
      <div class="item">
        <a class="sub-btn">Manage Blog<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="{% url 'adminblog' %}" class="sub-item">Manage Posts</a>
          <a href="{% url 'create-blog' %}" class="sub-item">Add Post</a>
          <a href="#" class="sub-item">Manage Users</a>
          <a href="#" class="sub-item">Add User</a>
        </div>
      </div>
      
    </ul>
  </div>
      <!--End of sidebar-->
  <section class="panel-section">
    <nav class="panel-nav">
      <div class="sidebar-button">
        <img src="{% static 'images/hamburger.png' %}" class='bx bx-menu sidebarBtn'></i>
      </div>
      <div class="search-box">
        <form action="" method="get">
          <input type="search" placeholder="Search...">
          <i class='bx bx-search' ></i>
        </form>
      </div>
    </nav>
    
    <div class="panel-content"> 
	<div class="page-wrapper admin-wrapper">		
        <section class="alt-nav">
            <h4>Add Post</h4>
            <a href="{% url 'adminblog' %}" class="btn">Manage Posts</a>
        </section> 
        <div class="content-container">
            <section class="add-post">
                <div class="fields-wrapper">
                    <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <main>
                            <label for="postTitle">Post Title</label>
                            {{ form.poststitle }}
                        </main>
                        <main>
                            <label for="postTitle">Post Authour</label>
                            {{ form.postsauthour }}
                        </main>

                        <main>
                        <div>
                            <!-- The toolbar will be rendered in this container. -->
                            <div id="toolbar-container"></div>


                            <!-- This container will become the editable. -->
                            <div id="editor" class="form-body">
                            {{ form.posts }}

                            </div>
                        </div>
                        </main>

                        <main>
                          <label for="postscategory"> Select The Blog Category To Add:</label>
                            
                            <label for="postscategory"> Featured Story {{ form.featured_stories }}</label>
                            <label for="postscategory"> Latest News {{ form.latest_news }}</label>
                            <label for="postscategory"> Latest Article {{ form.latest_articles }}</label>
                            
                            

                        </main>
                        

                        <main class="margin-top">
                            <label for="image">Image</label>                   
                            {{form.featured_image}}
                        </main>

                        <button class="btn" type="submit" name="submit-btn">Add Post</button>
                    </form>
                </div>
            </section>

        </div>

      
	</div>
    </div>
  </section>



<!--BOOTSTRAP JAVASCRIPT-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

<!--CUSTOM JAVASCRIPT-->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>

<!-- Initialize CK Editor editor -->
<script>
  DecoupledEditor
      .create( document.querySelector( '#editor' ) )
      .then( editor => {
          const toolbarContainer = document.querySelector( '#toolbar-container' );

          toolbarContainer.appendChild( editor.ui.view.toolbar.element );
      } )
      .catch( error => {
          console.error( error );
      } );
</script>



</body>
</html>