{% extends 'admin_base.html' %}
{% load static %}
  


  {% block content %}
  <section class="panel-section" style="margin-top:-700px">
    
    <div class="panel-content"> 
      <div class="page-wrapper admin-wrapper course-wrapper">		
        <section class="alt-nav">
            <h4>Manage Posts</h4>
            <a href="{% url 'create-blog' %}" class="btn">Add Post</a>
        </section>

  
      <section class="trade-table store-table course-table">
        <table>
          <thead>
            <tr>
              <th scope="col">Post Title</th>
              <th scope="col">Author</th>
              <th scope="col">Featured Image</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for blog in blogs %}
              <tr>
                <td data-label="post Title">{{blog.title}}</td>
                <td data-label="Author">{{blog.author}}</td>
                <td data-label="image"><img src="{{blog.featured_image.url}}"></td>
                <td data-label="Action"><a href="{% url 'update-blog' blog.id %}" class="edit">edit</a></td>
                <td><a style="color: rgb(233, 143, 25);" href="{% url 'delete-blog' blog.id %}" class="delete">Delete</a></td>		        
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
        <div class="blog-paginator">
          <article class="pagination-wrapper">
            {% if blogs.has_previous %}
                <a href="?page=1" class="first-page">first</a>
                <span class="text-primary">
                    {{ blogs.number }} of {{ blogs.paginator.num_pages }}
                </span>
                <a href="?page={{ blogs.previous_page_number }}" class="prev-btn"><i class="ri-arrow-left-s-line nav-icon"></i></a>
            {% endif %}
    
            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}" class="next-btn"><i class="ri-arrow-right-s-line nav-icon"></i></a>
                <span class="text-primary">
                    {{ blogs.number }} of {{ blogs.paginator.num_pages }}
                </span>
                <a href="?page={{ blogs.paginator.num_pages }}" class="last-page">Last</a>
            {% endif %}
          </article>
        </div>
        
        {% if blog_count <= 1 %}
            {{blog_count}} Course
        {% elif blog_count > 1 %}
            {{blog_count}} Posts
        {% else %}
          No blogs has been added
        {% endif %}
      </section>
	    </div>
    </div>
  </section>
  {% endblock content %}