{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}UnknownSatoshi | All-in-One Community to Learn, Sell and Buy Cryptocurrency{% endblock title %}</title>

	<!--SEO Control-->
	<meta charset="utf-8" />
    <meta name="description" content="{% block meta %} Unknown Satoshi is a community focused platform which educates and empowers you with the right crypto knowledge and tools.{% endblock meta %}">
    <link rel="icon" href=" {% static 'images/favicon.png' %}">

    <!--Viewport Control-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}" />

	
	<!--Bootstrap CDN-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

	<!--OWL CAROUSEL CSS CDN-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">

	<!--Remix Icon CDN-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!--FONT AWESOME CDN-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!--Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="page-wrapper">
		<header class="banner-wrapper">
		
			<div class="navbar">
				
				{% block header_logo %}
					<div class="navbar__Link navbar__Link-brand">
						<a href="{% url 'home' %}" class="index-link">
							<img src="{% static 'images/logo.png' %}" class="navbar-logo" alt="website's logo">
						</a>
					</div>
				{% endblock header_logo %}
				
				{% if request.user.is_authenticated %}
				<div class="profile-wrapper">
					<div class="dropdown">
						<main>
							<img src="{{user.profile_picture.url}}" class="img-profile"><i class="ri-arrow-down-s-line profile-icon"></i>
						</main>
						<div class="profile-dropdown">
							<a href="{% url 'user-profile' user.id %}" class="profile-dropdown-item">Profile</a>
							<a href="{% url 'user-sub-list' %}" class="profile-dropdown-item">Subscription History</a>
							<a href="{% url 'user-first-sub' %}" class="profile-dropdown-item">First Subscription History</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="profile-wrapper" style="display: none;">
					<div class="dropdown">
						<main>
							<img src="{{user.profile_picture.url}}" class="img-profile"><i class="ri-arrow-down-s-line profile-icon"></i>
						</main>
						<div class="profile-dropdown">
							<a href="{% url 'user-profile' user.id %}" class="profile-dropdown-item">Profile</a>
							<a href="{% url 'user-sub-list' %}" class="profile-dropdown-item">Subscription History</a>
							<a href="{% url 'user-first-sub' %}" class="profile-dropdown-item">First Subscription History</a>
						</div>
					</div>
				</div>
				{% endif%}
				
				<div class="navbar__Link navbar__Link-toggle">
					<img src=" {% static 'images/hamburger.png' %}" alt="site's hamburger">
					<!-- <img src="assets/images/close-hamburger.png" alt="close menu" class="close-menu"> -->
				</div>
		
				<nav class="navbar__Items">
					<ul>

						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'home' %}">Home</a>
						</li>
						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'about' %}">About</a>
						</li>
						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'contact' %}">Contact us</a>
						</li>
						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'trade-history' %}">Trade History</a>
						</li>
						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'courses' %}">Courses</a>
						</li>
						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'onlinestore' %}">Online Store</a>
						</li>
						<li class="navbar__Link">
							<a class="nav-link" href="{% url 'blog' %}">Blog</a>
						</li>
						<li class="navbar__Link" id="dropdown-link">
							<a class="nav-link dropdown-button">Exchange Review <i class="ri-arrow-down-s-line"></i></a>
							<div class="dropdown-contents">
								<a href="#">Bybit Exchange</a>
								<a href="#">Binance Exchange</a>
								<a href="#">Ftx Exchange</a>
								<a href="#">Phemex Exchange</a>
							</div>
						</li>
						
					</ul>
				</nav>

				<nav class="navbar__Items navbar__Items--right">
					
					{% if request.user.is_authenticated %}
					<div class="profile">
						<div class="dropdown">
							<main>
								<img src="{{user.profile_picture.url}}" class="img-profile"><i class="ri-arrow-down-s-line profile-icon"></i>
							</main>
							<div class="profile-dropdown">
								<a href="{% url 'user-profile' user.id %}" class="profile-dropdown-item">Profile</a>
								<a href="{% url 'user-sub-list' %}" class="profile-dropdown-item">Subscription History</a>
								<a href="{% url 'user-first-sub' %}" class="profile-dropdown-item">First Subscription History</a>
							</div>
						</div>
					</div>

						<div class="navbar__Link">
							<a class="btn hire-btn"  href="{% url 'user-logout' %}">Logout</a>
						</div>
                    {% else %}
						<div class="navbar__Link">
							<a class="login-link"  href="{% url 'user-login' %}">Login</a>
							
							<a class="btn hire-btn"  href="{% url 'register' %}">Sign Up</a>
						</div>
                    {% endif%}
            	</nav>
			</div>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{message.tags}}">
						{{message}}
					</div>
				{% endfor %}		
			{% endif %}	
		</header>
	</div>
    
    {% block content %}{% endblock content %}
        
	<footer>
		<div class="footer-content__container">
			<section class="footer-content__item">
				<h4>Contact Us</h4>
				<div class="contact-options">
					<img src="{% static 'images/alt-logo.png' %}" alt="logo for unknown satoshi" class="alt-logo">
					<p>A community focused platform which educates and empowers you with the right crypto knowledge and tools.</p>
					<p class="iconic-paragraph"><i class="ri-mail-line"></i><a href="mailto:info@unknownsatoshi.com">info@unknownsatoshi.com</a></p>
				</div>
				
				<div class="social-links">
					<h4>Connect Socially</h4>
					<a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
					<a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
					<a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
					<a href="https://youtube.com/channel/UCzpteHI9OCi6eAzRJyTZjRg"><i class="ri-youtube-line"></i></a>
				</div>
			</section>

			<section class="footer-content__item">
				<h4>Quick Access</h4>
				<div class="links">
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'about' %}">About</a>
					<a href="{% url 'trade-history' %}">Trade Record</a>
					<a href="{% url 'contact' %}">Contact</a>
					<a href="{% url 'faqs' %}">FAQs</a>
					<a href="{% url 'blog' %}">Blog</a>
				</div>
			</section>

			<section class="footer-content__item">
				<h4>Company</h4>
				<div class="links">
					{% comment %} <a href="competition.html">Trading Competition</a> {% endcomment %}
					<a href="{% url 'courses' %}">Courses</a>
					<a href="{% url 'onlinestore' %}">Store</a>
					<a href="{% url 'privacy' %}">Privacy Policy</a>
					{% comment %} <a href="terms.html">Terms and Conditions</a> {% endcomment %}
				</div>
			</section>
		</div>
	</footer>
	  





<!--BOOTSTRAP JAVASCRIPT-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
<!--Jquery CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<!--CUSTOM JAVASCRIPT-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'js/tab.js' %}"></script>



<!--OWL CAROUSEL 2 CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script type="text/javascript">
    $('#slider').owlCarousel({
    loop:true,
    margin:15,
    nav:false,
    dots: true,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})
</script>

</body>
</html>