
{% extends 'base.html' %}
{% load static %}    



{% block content %}
    <div class="page-wrapper reg-container reset-page margin-extra">
        <main class="flex-center">
            <h2>Reset Password</h2>
            <p>Input your registered email where you'll receive a reset link</p>
            <section class="login-wrapper">
                <div class="login-fields">               
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.email.label}}
                        {{ form.email }}
                        <button class="btn" type="submit" name="login-btn">Send reset link</button>
                    </form>
                </div>
            </section>
        </main>
	</div>

{% endblock content %}