{% extends 'base.html' %}
{% load static %}




{% block content %}
	<div class="page-wrapper margin-extra">		
        <section class="panel-section">
            <div class="panel-content">
              <div class="page-wrapper admin-wrapper">		
                <div class="content-container" style="margin-bottom: 100px;">
                  <section class="trade-table">
                      <table>
                        {% if subscription %}
                        <section class="alt-nav" id="sub-nav">
                          <h4>Manage Subscription History</h4>
                        </section>
                        <thead>
                          <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Plan</th>
                            <th scope="col">Amount Paid</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Transaction Id</th>
                            <th scope="col">Status</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Expiry Date</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                          
                          {% for sub in subscription %}
                            <tbody>
                                <tr>
                                  
                                  <td data-label="Email">{{ user.email }}</td>
                                  <td data-label="Plan">{{ sub.plan }}</td>
                                  <td data-label="Amount Paid">${{sub.amount_paid}}</td>
                                  <td data-label="Reference">{{sub.reference}}</td>
                                  <td data-label="Transaction Id">{{sub.transaction_id}}</td>
                                  <td data-label="Status">{{sub.status}}</td>
                                  <td data-label="Status">{{sub.start_date}}</td>
                                  <td data-label="Status">{{sub.expiry_date}}</td>

                                  
                                  {% if sub.active == True %}
                                    <td data-label="Active" style="color: green;">active</td>
                                  {% else %}
                                    <td data-label="Active" style="color: red;">expired</td>
                                  {% endif %} 
                                </tr>
                            </tbody>
                          {% endfor %}
                      {% else %}
                        <div>
                          <p style="text-align: center;"> you have not subscribed to any plan yet.</p>
                        </div>
                        {% endif %}
                      </table>
                      
                  </section>
                </div>
              </div>
            </div>
        
        </section>

	</div>
{% endblock content %}
