{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <section class="panel-section" style="margin-top: -700px">
    
    
    <div class="panel-content">
	  <div class="page-wrapper admin-wrapper course-wrapper">		
        <section class="alt-nav">
            <h4>Manage Courses</h4>
            <a href="{% url 'create-course' %}" class="btn">Add Course</a>
        </section>

      <section class="trade-table store-table course-table">
        <table>
          <thead>
            <tr>
              
              <th scope="col">Course Name</th>
              <th scope="col">Course Link</th>
              <th scope="col">Featured Image</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for course in courses %}
            <tr>
              <td data-label="Course Name">{{course.courses}}</td>
              <td data-label="Course Name">{{course.course_link}}</td>
              <td data-label="Course Name">{{course.featured_image}}</td>
              <td data-label="Action"><a href="{% url 'update-course' course.id %}" class="edit">edit</a></td>
              <td><button class="delete" >
                  <a style="color: rgb(233, 143, 25);" href="{% url 'delete-course' course.id %}" class="edit">Delete</a></button></td>		        
            </tr> 
          {% endfor %}   
            
          </tbody>
        </table>
      </section>
      {% if courses.count <= 1 %}
          {{courses.count}} Course
        {% else %}
          {{courses.count}} Courses
      {% endif %}
	  </div>
    </div>
  </section>  
{% endblock content %}
  