{% extends 'admin_base.html' %}
{% load static %}



{% block content %}
  <section class="panel-section" style=margin-top:-700px>
    <div class="panel-content">  
      <div class="page-wrapper admin-wrapper">		
          <section class="alt-nav">
              <h4>Manage Products</h4>
              <a href="{% url 'create-product' %}" class="btn">Add Product</a>
          </section>

        <section class="trade-table store-table">
          <table>
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col"></th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col" colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr>
                <td data-label="S/N">1</td>
                <td data-label="image"><img src="{{product.featured_image.url}}"></td>
                <td data-label="Product Name">{{product.product_name}}</td>
                <td data-label="Price">${{ product.price}}</td>
                <td data-label="Action"><a href="{% url 'update-product' product.id %}" class="edit">edit</a></td>
                <td><button class="delete">
                    <a style="color: rgb(233, 143, 25);" href="{% url 'delete-product' product.id %}" class="edit">Delete</a></button></td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </section>
{% endblock content %}
  