/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #1D1D1D;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
  display: none;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details img{
  width: 80px;
  height: auto;
  text-align: center;
  margin-left: 5px;
  margin-top: 12px;
}

.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links{
    width: 100%;
    margin-top: 72px;
    z-index: 1;
}

.sidebar .nav-links .item{
    position: relative;
    cursor: pointer;
}

.sidebar .nav-links .item a{
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.sidebar .nav-links .item a:hover{
    background: #F8A606;
    transition: 0.3s ease;
}

.sidebar .nav-links .item i{
    margin-right: 15px;
}

.sidebar .nav-links .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.sidebar .nav-links .item .sub-menu{
    background: rgba(51, 51, 51, 0.4);
    display: none;
}

.sidebar .nav-links .item .sub-menu a{
    padding-left: 60px;
}

.rotate{
    transform: rotate(90deg);
}

.panel-section{
  position: relative;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .panel-section{
  width: calc(100% - 10px);
  left: 10px;
}
.panel-section .panel-nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #0A0909;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .panel-section .panel-nav{
  left: 10px;
  width: calc(100% - 10px);
}
.panel-section .panel-nav .sidebar-button{
  display: flex;
  align-items: center;
}
.panel-nav .sidebar-button img{
    width: 40px;
    height: auto;
}
.panel-section .panel-nav .search-box{
  position: relative;
  height: 50px;
  max-width: 500px;
  width: 100%;
  margin: 0 20px;
}
.search-box form{
    height: 50px;
}
.panel-nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #434343;
  border-radius: 8px;
  padding: 0 15px;
  border: 0px;
  color: #fff;
}
.panel-nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #EE5717;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}



.panel-section .panel-content{
  position: relative;
  padding-top: 104px;
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 20px;
    display: none;
  }
  .sidebar.active{
    width: 220px;
    display: block;
  }
  .panel-section{
    width: calc(100% - 10px);
    left: 10px;
  }
  .sidebar.active ~ .panel-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .panel-section .panel-nav{
    width: calc(100% - 10px);
    left: 10px;
  }
  .sidebar.active ~ .panel-section .panel-nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 550px) {

  /* .sidebar.active ~ .panel-section nav .profile-details{
    display: none;
  } */
}
