html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0A0909;
  color: #fff;
  max-width: 1440px;
  margin: auto;
}

.page-wrapper {
  padding: 0 24px;
}

@media only screen and (max-width: 600px) {
  .page-wrapper {
    padding: 0 12px;
  }
}
h1 {
  font-size: clamp(2.5em, 3.5em, 4em);
}

h2 {
  font-size: clamp(1.75em, 4vw, 2.5em);
}

h4 {
  font-size: clamp(20px, 3vw, 24px);
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h2, h4, h5 {
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 36px;
}

p {
  font-size: 16px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

hr {
  border: 0.5px solid #1A1919;
  max-width: 700px;
  margin: auto;
  margin-top: 96px;
  border-radius: 8px;
}

.btn {
  padding: 15px 40px;
  border: 0px;
  border-radius: 8px;
  background-color: #EE5717;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 54px;
  width: auto;
}

.btn:hover {
  background-color: #F8A606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.btn {
  text-decoration: none;
  color: #fff;
}

button {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.input-field, textarea {
  background-color: #434343;
  color: #fff;
  padding: 10px;
  height: 54px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  width: 80%;
}

@media only screen and (max-width: 800px) {
  .input-field, textarea {
    width: 100%;
  }
}
textarea {
  height: 150px;
  resize: none;
}

.none {
  display: none;
}

/*======ALTERNATIVE STYLING======*/
/*=====NAVIGATION BAR STYLING=====*/
.banner-wrapper {
  min-height: 80vh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.navbar-logo {
  width: 100px;
  height: auto;
}

.navbar__Link {
  padding-right: 8px;
}

.navbar__Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__Items .active {
  color: #F8A606;
}

.navbar__Items li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}

.navbar__Items li a {
  padding: 10px;
  text-decoration: none;
  line-height: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__Items li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #F8A606;
}

.navbar__Items--right {
  margin-left: auto;
}

.navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 922px) {
  .navbar {
    background-color: #0A0909;
    position: fixed;
    width: 100%;
  }

  .navbar-logo {
    width: 80px;
    height: auto;
    margin: 3px 5px;
  }

  .navbar__Items,
.navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .navbar__Items {
    display: none;
    margin-left: 0;
  }

  .navbar__Items li {
    display: block;
  }

  .navbar__Items--right {
    margin-left: 0;
  }

  .navbar__Items--right .hire-btn {
    margin-top: 40px;
  }

  .navbar__ToggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-bottom: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .navbar__Link-toggle {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin: 10px 36px 0 0;
    width: 40px;
    height: auto;
    right: 16px;
  }

  .navbar__Link-toggle img {
    width: 40px;
    height: auto;
  }
}
@media only screen and (max-width: 550px) {
  .navbar .navbar-logo {
    width: 60px;
    height: auto;
  }
}
/*=====END OF NAVIGATION BAR STYLING=====*/
/*=====HERO SECTION STYLING=====*/
.hero-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.hero-section .hero-section__title {
  text-align: center;
  max-width: 980px;
  margin: 120px 0 20px 0px;
  padding: 0 15px;
}
.hero-section .hero-section__title h1 {
  line-height: 1.1;
  margin-bottom: 24px;
}
.hero-section .hero-section__title p {
  max-width: 600px;
  text-align: center;
  margin: auto;
}
.hero-section .hero-img {
  width: 80%;
  height: auto;
  margin-top: 63px;
  border-radius: 8px;
}
.hero-section small {
  margin-top: 12px;
  color: #c4c4c4;
}

@media (max-width: 1000px) {
  .hero-section .hero-section__title h1 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .hero-section, .hero-section .hero-section__title, .hero-img {
    width: 100%;
  }

  .hero-section .hero-section__title {
    font-size: 2em;
    margin: 100px 0 20px 0px;
  }

  .hero-img {
    min-width: 90%;
  }
}
@media (max-width: 360px) {
  .hero-section .hero-section__title {
    font-size: 1.8em;
    margin: 80px 0 20px 0px;
  }

  .hero-section .hero-section__title {
    width: 100%;
  }
}
@media (max-width: 330px) {
  .hero-section .hero-section__title h1 {
    font-size: 36px;
    margin: 80px 0 20px 0px;
  }

  .hero-section .hero-section__title {
    width: 100%;
  }
}
/*=====END OF HERO SECTION STYLING=====*/
/*==========BLOG SECTION STYLING=======*/
.blog-section {
  margin-top: 123px;
}
.blog-section h2 {
  margin-bottom: 12px;
}
.blog-section h4 {
  max-width: 700px;
  font-weight: normal;
  margin-bottom: 48px;
}
.blog-section .blog-post__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0.7rem;
  place-items: center;
}
.blog-section .blog-post__card {
  max-width: 360px;
  max-width: 360px;
  border-radius: 8px;
  margin-bottom: 24px;
  background: #1A1919;
}
.blog-section .blog-post__card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 230px;
  border-radius: 8px;
}
.blog-section .blog-post__card .text-container {
  padding: 12px;
}
.blog-section .blog-post__card h5 {
  color: #EE5717;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.blog-section .blog-post__card h5:hover {
  text-decoration: underline;
}
.blog-section .blog-post__card a {
  color: inherit;
}

/*========-END OF BLOG SECTION STYLING=========*/
/*=====SUBSCRIPTION SECTION STYLING====*/
.subscription-section {
  margin-top: 114px;
  background-color: #1D1D1D;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
  padding-bottom: 36px;
}

.subscription-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.subscription-container h2 {
  margin-bottom: 12px;
}
.subscription-container p {
  margin-bottom: 48px;
}

/*=====END OF SUBSCRIPTION SECTION STYLING====*/
/*============COURSE SECTION STYLING========*/
.course-section {
  margin-top: 123px;
}
.course-section h2 {
  max-width: 840px;
  margin-bottom: 48px;
}
.course-section .course-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0.7rem;
  place-items: center;
}
.course-section .course-container__item {
  max-width: 360px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.course-section .course-container__item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 230px;
  border-radius: 8px;
}
.course-section .course-container__item:hover {
  text-decoration: none;
}
.course-section .course-container__item h5 {
  margin-bottom: 12px;
}
.course-section .course-container__item img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.course-section .course-container__item img:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.course-section .course-btn__container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 24px;
  margin-bottom: 60px;
}

/*============END COURSE SECTION STYLING========*/
/*=========TRADE HISTORY SECTION STYLING=======*/
.history-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
}
.history-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.history-section .description-container {
  padding-right: 24px;
}
.history-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.history-section .description-container h2 {
  width: 80%;
  line-height: 1.2;
}
.history-section .description-container p {
  margin-bottom: 36px;
}
.history-section .image-container {
  width: 50%;
}
.history-section .image-container img {
  width: 100%;
  border-radius: 12px;
}

@media only screen and (max-width: 700px) {
  .history-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .history-section .description-container, .history-section .image-container {
    width: 100%;
  }
  .history-section .image-container {
    margin-top: 48px;
  }
}
/*=========END OF TRADE HISTORY SECTION STYLING=======*/
/*=====TESTIMONIAL SECTION STYLING====*/
.testimonial-section {
  margin-top: 124px;
}
.testimonial-section h2 {
  max-width: 930px;
  margin-bottom: 24px;
}
.testimonial-section .owl-carousel {
  background-color: #1D1D1D;
  border-radius: 12px;
  padding: 24px;
  padding-left: 50px;
}
.testimonial-section .testimonial-container {
  max-width: 350px;
  margin-bottom: 48px;
}
.testimonial-section .testimonial-container .star-rating {
  margin-bottom: 12px;
}
.testimonial-section .testimonial-container .ri-star-fill {
  color: #F8A606;
}
.testimonial-section .testimonial-container .ri-star-line {
  color: #F8A606;
  opacity: 0.6;
}
.testimonial-section .testimonial-container main p {
  margin-bottom: 24px;
}
.testimonial-section .testimonial-container main .bold {
  margin-bottom: 12px;
}

/*=====END OF TESTIMONIAL SECTION STYLING====*/
/*=====TRADING SIGNAL SECTION STYLING====*/
.trading-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
}
.trading-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.trading-section .description-container {
  padding-right: 24px;
}
.trading-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.trading-section .description-container p {
  margin-bottom: 36px;
}
.trading-section .image-container {
  width: 50%;
}
.trading-section .image-container img {
  width: 100%;
  border-radius: 12px;
}

@media only screen and (max-width: 700px) {
  .trading-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .trading-section .description-container, .trading-section .image-container {
    width: 100%;
    padding: unset;
  }
  .trading-section .image-container {
    margin-top: 24px;
  }
}
/*=====END OF TRADING SIGNAL SECTION STYLING====*/
/*=====NEWSLETTER SECTION STYLING====*/
.newsletter-section {
  margin-top: 123px;
}
.newsletter-section p {
  max-width: 840px;
  margin-bottom: 24px;
}
.newsletter-section form {
  display: inline;
}
.newsletter-section .input-field {
  width: 60%;
  margin-right: 12px;
}
.newsletter-section .input-field::-webkit-input-placeholder {
  color: #C4C4C4;
}
.newsletter-section .input-field::-moz-placeholder {
  color: #C4C4C4;
}
.newsletter-section .input-field:-ms-input-placeholder {
  color: #C4C4C4;
}
.newsletter-section .input-field::-ms-input-placeholder {
  color: #C4C4C4;
}
.newsletter-section .input-field::placeholder {
  color: #C4C4C4;
}

@media only screen and (max-width: 600px) {
  .newsletter-section form {
    display: block;
  }
  .newsletter-section .input-field {
    width: 100%;
    margin-bottom: 36px;
  }
}
/*=====END OF NEWSLETTER SECTION STYLING====*/
.join-community {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 123px 0 48px 0;
}
.join-community h2 {
  text-align: center;
  margin-bottom: 24px;
  max-width: 965px;
}
.join-community P {
  margin-bottom: 36px;
  max-width: 700px;
  text-align: center;
}

footer {
  background-color: #1D1D1D;
  height: 450px;
  position: relative;
}
footer .footer-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-content__container h4 {
  margin-bottom: 24px;
}
footer .footer-content__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 24px;
}
footer .footer-content__item .contact-options {
  margin-bottom: 48px;
  max-width: 80%;
}
footer .footer-content__item .contact-options .alt-logo {
  width: 150px;
  height: auto;
  margin-bottom: 24px;
}
footer .footer-content__item .contact-options p {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
footer .footer-content__item .contact-options .iconic-paragraph {
  margin-top: 24px;
}
footer .footer-content__item .contact-options a:hover {
  text-decoration: underline;
}
footer .footer-content__item .contact-options i {
  font-size: 24px;
  margin-right: 12px;
}
footer .footer-content__item .social-links i {
  font-size: 24px;
  margin-right: 12px;
}
footer .footer-content__item .social-links .ri-telegram-line {
  background-color: #0088cc;
  padding: 8px;
  border-radius: 8px;
}
footer .footer-content__item .social-links .ri-twitter-fill {
  background-color: #1DA1F2;
  padding: 8px;
  border-radius: 8px;
}
footer .footer-content__item .social-links .ri-instagram-line {
  background-color: #CD486B;
  padding: 8px;
  border-radius: 8px;
}
footer .footer-content__item .social-links .ri-youtube-line {
  background-color: #FF0000;
  padding: 8px;
  border-radius: 8px;
}
footer .footer-content__item .links a {
  display: block;
  margin-bottom: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}
footer .footer-content__item .links a:hover {
  color: #F8A606;
  margin-left: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 934px) {
  footer {
    height: auto;
  }
  footer .footer-content__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-left: 12px;
    padding-bottom: 12px;
  }
}
/*=====ABOUT PAGE STYLING=====*/
.banner-section {
  width: 100%;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../images/bg-img.jpg"), no-repeat, center;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("../images/bg-img.jpg"), no-repeat, center;
  height: 400px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.banner-section .header-group {
  margin: 48px;
}
.banner-section h1 {
  font-size: 56px;
  font-weight: 600;
}
.banner-section h4 {
  font-weight: normal;
}

@media only screen and (max-width: 800px) {
  .banner-section h1 {
    font-size: 40px;
  }
  .banner-section .header-group {
    margin: 24px;
  }
}
@media only screen and (max-width: 450px) {
  .banner-section h1 {
    font-size: 36px;
  }
  .banner-section .header-group {
    margin: 24px;
  }
}
.about-page hr {
  display: none;
}

.about-description {
  margin: 96px 12px 0 12px;
  max-width: 1020px;
}
.about-description .grouped-header {
  margin-bottom: 36px;
}
.about-description .grouped-header h4 {
  font-weight: normal;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.about-description .grouped-header h2 {
  max-width: 800px;
  line-height: 1;
}

.trading-section {
  margin-top: 96px;
}
.trading-section h5 {
  margin-bottom: 12px;
}
.trading-section .image-container {
  margin-right: 24px;
}

@media only screen and (max-width: 450px) {
  .trading-section .image-container {
    margin-bottom: 24px;
  }
}
/*=========VALUE SECTION STYLING=======*/
.value-section {
  margin: 96px 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
}
.value-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.value-section .description-container {
  padding-right: 24px;
}
.value-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.value-section .description-container h5 {
  font-weight: 600;
}
.value-section .image-container {
  width: 50%;
}
.value-section .image-container ul {
  list-style: none;
}
.value-section .image-container li {
  margin-bottom: 24px;
}
.value-section .image-container li .value-icon {
  margin-right: 12px;
  background-color: #45AD43;
  padding: 8px;
  border-radius: 12px;
}

@media only screen and (max-width: 700px) {
  .about-page hr {
    display: block;
  }

  .trading-section {
    margin-top: 20px;
  }

  .value-section {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .value-section .description-container, .value-section .image-container {
    width: 100%;
  }
  .value-section .image-container {
    margin-top: 48px;
  }
}
/*=========END OF VALUE SECTION STYLING=======*/
.team-section {
  margin-top: 96px;
}
.team-section h2 {
  text-align: center;
  margin-bottom: 24px;
}
.team-section .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: auto;
}
.team-section .team-container .card-container {
  min-width: 290px;
  border-radius: 8px;
  margin: 12px;
  background: #1A1919;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}
.team-section .team-container .card-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}
.team-section .team-container .card-container {
  background-color: unset;
}
.team-section .team-container .card-container p {
  font-weight: bold;
  margin: 12px 0 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-section .team-container .card-container p i {
  padding: 8px;
  border-radius: 8px;
  background-color: #0077B5;
  font-weight: normal;
}

/*=====END OF ABOUT PAGE STYLING=====*/
/*=-------CONTACT PAGE STYLING---------*/
.contact-headings {
  text-align: center;
  margin-bottom: 72px;
  height: 16vh;
  margin-top: 48px;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background-color: #1D1D1D;
  margin: auto;
  border-radius: 8px;
  padding: 48px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 72px;
}
.contact-wrapper .contact-details {
  width: 50%;
}
.contact-wrapper .contact-details h4 {
  margin-bottom: 24px;
}
.contact-wrapper .contact-details .contact-options {
  margin-bottom: 48px;
  max-width: 80%;
}
.contact-wrapper .contact-details .contact-options p {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-wrapper .contact-details .contact-options a:hover {
  text-decoration: underline;
}
.contact-wrapper .contact-details .contact-options i {
  font-size: 24px;
  margin-right: 12px;
}
.contact-wrapper .contact-details .social-links i {
  font-size: 24px;
  margin-right: 12px;
}
.contact-wrapper .contact-fields {
  width: 50%;
}
.contact-wrapper .contact-fields h4 {
  margin-bottom: 24px;
}
.contact-wrapper .contact-fields form {
  width: 80%;
}
.contact-wrapper .contact-fields form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.contact-wrapper .contact-fields form .input-field, .contact-wrapper .contact-fields form textarea {
  margin-top: 8px;
  width: 100%;
}
.contact-wrapper .contact-fields form button {
  float: right;
}

@media only screen and (max-width: 800px) {
  .contact-fields {
    margin-top: 60px;
  }

  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding: 48px 0 48px 24px;
  }
  .contact-wrapper .contact-details, .contact-wrapper .contact-fields {
    width: 100%;
  }
  .contact-wrapper .contact-fields {
    margin-top: 48px;
  }
  .contact-wrapper .contact-fields .input-field {
    width: 100%;
  }
}
/*--------TRADE HISTORY STYLING--------*/
.trade-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../images/bg-img4.jpg"), no-repeat, center;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("../images/bg-img4.jpg"), no-repeat, center;
  background-size: cover;
  width: 100%;
}
.trade-banner h1 {
  line-height: 1.2;
}

.history-heading {
  text-align: center;
  max-width: 700px;
  margin: 72px auto 0 auto;
}

.trade-table {
  width: 90%;
  background-color: #1D1D1D;
  margin: auto;
  margin-top: 48px;
  border-radius: 8px;
  padding: 48px;
}
.trade-table table {
  border-collapse: collapse;
  width: 100%;
}
.trade-table table thead {
  font-weight: 500;
}
.trade-table table td, .trade-table table th {
  text-align: left;
  padding: 12px;
}
.trade-table table th {
  background-color: #1D1D1D;
}
.trade-table table tr:nth-child(even) {
  background-color: #333333;
  border-radius: 8px;
}

@media only screen and (max-width: 800px) {
  .trade-table {
    width: 90%;
    padding: 24px;
  }
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: 48px;
  }
  table td {
    border-bottom: 1px solid #464343;
    display: block;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
  }
  table table td:last-child {
    border-bottom: 0;
  }
}
/*===========COURSE PAGE STYLING=========*/
.course-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../images/bg-img3.png"), no-repeat, center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/bg-img3.png"), no-repeat, center;
  background-size: cover;
  width: 100%;
}
.course-banner h1 {
  line-height: 1;
  font-weight: 600;
  margin-top: 12px;
  font-size: 48px;
  max-width: 800px;
}
.course-banner p {
  max-width: 900px;
  margin-top: 12px;
}

@media only screen and (max-width: 780px) {
  .course-banner h1 {
    font-weight: 500;
    font-size: 36px;
  }
}
@media only screen and (max-width: 500px) {
  .course-banner h1 {
    font-size: 24px;
    font-weight: 600;
  }
}
/*===========END OF COURSE PAGE STYLING=========*/
/*===========ONLINE STORE PAGE STYLING=========*/
.store-icon {
  width: 60px;
  height: auto;
  margin-top: 24px;
}

.logo-container {
  max-width: 200px;
  margin: auto;
}
.logo-container .store-logo {
  width: 100%;
  height: auto;
}

.product-wrapper h2 {
  text-align: center;
  margin: 96px 0 24px 0;
}

.products-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0.7rem;
  place-items: center;
}
.products-container .product-container__item {
  max-width: 360px;
  border-radius: 8px;
  margin: 12px;
  background-color: #1D1D1D;
}
.products-container .product-container__item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 250px;
  border-radius: 8px 8px 0 0;
}
.products-container .product-container__item main {
  padding: 12px 12px 24px 12px;
}
.products-container .product-container__item .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-container .product-container__item .details-container p {
  width: 50%;
  line-height: 1.2;
}
.products-container .product-container__item .details-container .btn {
  margin-left: auto;
  padding: 10px 35px;
  height: auto;
  text-align: center;
  vertical-align: middle;
}
.products-container .product-container__item h5 {
  margin-top: 12px;
}

.pagination {
  margin-top: 24px;
}
.pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.pagination a:hover {
  text-decoration: underline;
}
.pagination a i {
  margin-left: 8px;
}

/*===========END OF ONLINE STORE PAGE STYLING=========*/
/*========LOGIN PAGE STYLING=======*/
.login-container header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 48px;
}

.login-wrapper {
  width: 50%;
  margin: auto;
  background-color: #1D1D1D;
  height: 28em;
  border-radius: 8px;
  margin-bottom: 60px;
}

.login-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}
.login-fields form {
  width: 80%;
}
.login-fields form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.login-fields form .input-field, .login-fields form textarea {
  margin-top: 8px;
  width: 100%;
}
.login-fields form button {
  float: right;
}
.login-fields p {
  text-align: center;
  margin-top: 48px;
}
.login-fields p a {
  text-decoration: underline;
  color: #F8A606;
}

@media screen and (max-width: 800px) {
  .login-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .login-wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 922px) {
  .login-container .navbar {
    position: static;
    width: 100%;
  }
}
/*==========BLOG PAGE STYLING=======*/
.blog-post__section {
  margin-top: 60px;
}
.blog-post__section h2 {
  margin-bottom: 48px;
  text-align: center;
}
.blog-post__section .blog-post__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0.7rem;
  place-items: center;
}
.blog-post__section .blog-post__card {
  max-width: 360px;
  max-width: 360px;
  border-radius: 8px;
  margin-bottom: 24px;
  background: #1A1919;
}
.blog-post__section .blog-post__card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 230px;
  border-radius: 8px;
}
.blog-post__section .blog-post__card .text-container {
  padding: 12px;
}
.blog-post__section .blog-post__card h5 {
  color: #EE5717;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.blog-post__section .blog-post__card h5:hover {
  text-decoration: underline;
}
.blog-post__section .blog-post__card a {
  color: inherit;
}
.blog-post__section .stories-section, .blog-post__section .news-section {
  margin-top: 72px;
}

@media only screen and (max-width: 922px) {
  .blog-post__section {
    margin-top: 112px;
  }
}
.coming-soon {
  height: 60vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}

/*========-END OF BLOG PAGE STYLING=========*/
/*======SUPORT PAGE STYLNG======*/
.support-header h1 {
  margin-bottom: 48px;
}
.support-header a {
  text-decoration: underline;
  color: #1DA1F2;
}
.support-header p {
  margin-bottom: 12px;
}

.support-wrapper {
  width: 90%;
  padding: 24px;
  margin: auto;
}
.support-wrapper .inline-link {
  text-decoration: underline;
  color: #1DA1F2;
}

.crypto-intro {
  height: auto;
  padding: 24px;
  background-color: #1D1D1D;
  border-radius: 8px;
}
.crypto-intro h4 {
  margin-bottom: 12px;
  color: #F8A606;
}
.crypto-intro a {
  text-decoration: underline;
}

.faqs-section {
  height: auto;
  padding: 24px;
  background-color: #1D1D1D;
  border-radius: 8px;
  margin-top: 48px;
}
.faqs-section h4 {
  text-align: center;
  margin-bottom: 24px;
}
.faqs-section .faqs-container {
  margin-top: 24px;
}
.faqs-section .faqs-container details {
  cursor: pointer;
  max-width: 900px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.faqs-section .faqs-container details > summary {
  padding: 12px;
  background-color: #222222;
  border-radius: 8px 8px 0 0;
  color: #F8A606;
}
.faqs-section .faqs-container details > p {
  border-radius: 0 0 8px 8px;
  background-color: #333333;
  padding: 12px;
}
.faqs-section .faqs-container details[open] summary ~ * {
  -webkit-animation: sweep 0.3s ease-in-out;
          animation: sweep 0.3s ease-in-out;
}
@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.external-support {
  text-align: center;
}
.external-support h2 {
  margin-top: 36px;
  margin-bottom: 24px;
}
.external-support p {
  margin: 48px 0 24px 0;
}
.external-support .social-links {
  margin-bottom: 60px;
}
.external-support .social-links i {
  font-size: 24px;
  margin-right: 12px;
}
.external-support .social-links .ri-telegram-line {
  background-color: #0088cc;
  padding: 8px;
  border-radius: 8px;
}
.external-support .social-links .ri-twitter-fill {
  background-color: #1DA1F2;
  padding: 8px;
  border-radius: 8px;
}
.external-support .social-links .ri-instagram-line {
  background-color: #CD486B;
  padding: 8px;
  border-radius: 8px;
}

@media only screen and (max-width: 870px) {
  .crypto-intro {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .support-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 390px) {
  .crypto-intro {
    margin-top: 96px;
    padding: 12px;
  }

  .faqs-section {
    padding: 12px;
  }
}
/*======END OF SUPORT PAGE STYLNG======*/
/*=======SINGLE BLOG POST STYLING======*/
.post-wrapper {
  height: 100%;
}
.post-wrapper .post-content {
  margin-bottom: 100px;
}

.article-wrapper {
  width: 90%;
  margin: auto;
}
.article-wrapper .post-details {
  margin-bottom: 24px;
}

.blog-content_container .blog-banner {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-content_container .post-title {
  line-height: 1.1;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 48px;
}
.blog-content_container .post-content p {
  margin-bottom: 24px;
}
.blog-content_container .post-content figure {
  margin-bottom: 24px;
}
.blog-content_container .post-content figure .content-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 24px 0 0 0;
}
.blog-content_container .post-content figure figcaption {
  text-align: center;
  margin-top: 4px;
  color: #C4C4C4;
  font-size: 14px;
  font-style: italic;
}

.related-posts {
  margin-top: 96px;
}

@media only screen and (max-width: 520px) {
  .article-wrapper {
    width: 100%;
    margin-top: 110px;
  }
  .article-wrapper .post-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 400px) {
  .article-wrapper .post-title {
    font-size: 32px;
  }
}
.restriction-box {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0.95)), color-stop(50%, #c4c4c4), to(#c4c4c4));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.95) 0%, #c4c4c4 50%, #c4c4c4 100%);
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  z-index: 999999;
  top: -250px;
  position: relative;
  overflow: hidden;
  margin-bottom: -250px;
}
.restriction-box .locked-controller {
  text-align: center;
  max-width: 800px;
  margin: auto;
  color: #1a1a1a;
}
.restriction-box .locked-controller h4 {
  margin-bottom: 12px;
}
.restriction-box .locked-controller .login-link {
  color: inherit;
  text-decoration: underline;
}
.restriction-box .subscription-box {
  margin: 24px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.restriction-box .subscription-box .plan-box {
  max-width: 300px;
  background-color: #1A1A1A;
  border-radius: 8px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.restriction-box .subscription-box .plan-box h4 {
  margin-bottom: 6px;
}
.restriction-box .subscription-box .plan-box hr {
  margin: 12px 0 12px;
  border: 0.7px solid #434343;
  width: 100%;
}
.restriction-box .subscription-box .plan-box .duration-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restriction-box .subscription-box .plan-box .duration {
  margin-bottom: 12px;
  margin-right: 8px;
}
.restriction-box .subscription-box .plan-box .duration span {
  font-size: 24px;
  font-weight: 400;
}
.restriction-box .subscription-box .plan-box .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 140px;
  padding: 2px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 14px;
  height: 48px !important;
}

/*=========SUBSCRIPTION PAGE STYLING=========*/
.hero-banner {
  width: 100%;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../images/sub-bg.jpg"), no-repeat, center;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("../images/sub-bg.jpg"), no-repeat, center;
  height: 400px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-banner .header {
  margin: auto;
}
.hero-banner h1 {
  font-weight: 600;
  text-align: center;
  max-width: 900px;
  line-height: 1;
}

.benefit-section {
  margin: 96px 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 24px;
  width: 100%;
  margin-top: 96px;
}
.benefit-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.benefit-section .description-container {
  padding-right: 24px;
}
.benefit-section .description-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.benefit-section .description-container h2 {
  line-height: 1;
}
.benefit-section .description-container ul {
  list-style: none;
}
.benefit-section .description-container li {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefit-section .description-container li .benefit-icon {
  margin-right: 12px;
  padding: 8px;
  color: #45AD43;
}
.benefit-section .image-container {
  width: 50%;
}
.benefit-section .image-container img {
  width: 100%;
  border-radius: 12px;
}

@media only screen and (max-width: 700px) {
  .benefit-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .benefit-section .description-container, .benefit-section .image-container {
    width: 100%;
  }
  .benefit-section .image-container {
    margin-top: 48px;
  }
}
.pricing-section {
  margin-top: 96px;
}
.pricing-section .pricing-header {
  text-align: center;
}
.pricing-section .pricing-header h2 {
  margin-bottom: 12px;
}
.pricing-section .pricing-container {
  margin-top: 48px;
  margin-bottom: 72px;
}
.pricing-section .plan-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 48px;
  place-items: center;
}
.pricing-section .plan-wrapper .plan-box {
  width: 100%;
  background-color: #1A1A1A;
  border-radius: 8px;
  padding: 24px;
}
.pricing-section .plan-wrapper .plan-box .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.pricing-section .plan-wrapper .plan-box .discount del {
  font-size: 24px;
}
.pricing-section .plan-wrapper .plan-box .discount .saved {
  padding: 6px;
  border-radius: 18px;
  margin-left: 12px;
}
.pricing-section .plan-wrapper .plan-box .discount .primary {
  background-color: #EE5717;
}
.pricing-section .plan-wrapper .plan-box .discount .purple {
  background-color: #6A6FDC;
}
.pricing-section .plan-wrapper .plan-box .discount .success {
  background-color: #45AD43;
}
.pricing-section .plan-wrapper .plan-box .popular-discount {
  margin-top: 12px;
  margin-left: 24px;
}
.pricing-section .plan-wrapper .plan-box hr {
  margin: 12px 0 12px;
  border: 0.7px solid #434343;
  width: 100%;
}
.pricing-section .plan-wrapper .plan-box .duration {
  margin-bottom: 24px;
}
.pricing-section .plan-wrapper .plan-box .duration span {
  font-size: 40px;
  font-weight: 400;
}
.pricing-section .plan-wrapper .plan-box .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: auto;
}
.pricing-section .plan-wrapper .plan-box .primary {
  background-color: #EE5717;
}
.pricing-section .plan-wrapper .plan-box .purple {
  background-color: #6A6FDC;
}
.pricing-section .plan-wrapper .plan-box .success {
  background-color: #45AD43;
}
.pricing-section .plan-wrapper .popular-box {
  background-color: unset;
  border: 1px solid #45AD43;
  padding: 0px;
}
.pricing-section .plan-wrapper .popular-box .popular {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: #45AD43;
  border-radius: 8px 8px 0 0;
}
.pricing-section .plan-wrapper .popular-box main {
  padding: 24px;
}

@media (max-width: 905px) {
  .hero-banner {
    margin-top: 130px;
  }
}
@media (max-width: 500px) {
  .hero-banner {
    margin-top: 130px;
  }
  .hero-banner h1 {
    font-weight: 600;
    max-width: 400px;
    font-size: 2.5em;
    margin: 0 12px;
  }
}
/*=========SIGN UP PAGE STYLING========*/
.reg-container header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 48px;
}

.reg-wrapper {
  width: 50%;
  margin: auto;
  background-color: #1D1D1D;
  height: auto;
  border-radius: 8px;
  margin-bottom: 60px;
  padding-bottom: 24px;
}

.register-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}
.register-fields form {
  width: 80%;
}
.register-fields form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.register-fields form .input-field, .register-fields form textarea {
  margin-top: 8px;
  width: 100%;
}
.register-fields form button {
  float: right;
}
.register-fields p {
  text-align: center;
  margin-top: 48px;
}
.register-fields p a {
  text-decoration: underline;
  color: #F8A606;
}

.extra-information {
  max-width: 800px;
  margin: 48px auto;
}
.extra-information div {
  margin-bottom: 36px;
}
.extra-information div h4 {
  margin-bottom: 12px;
}

.refund-description .refund {
  font-size: 46px;
  color: #F8A606;
  font-weight: normal;
}

.cancel-description .cancel {
  font-size: 46px;
  color: #F8A606;
  font-weight: normal;
}

@media screen and (max-width: 800px) {
  .reg-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .reg-wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 922px) {
  .reg-container .navbar {
    position: static;
    width: 100%;
  }
}
/*=======CHECKOUT PAGE STYLING========*/
.checkout-container header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 12px;
}

.checkout-wrapper {
  width: 50%;
  margin: auto;
  height: auto;
  border-radius: 8px;
  margin-bottom: 60px;
  padding-bottom: 48px;
}

.checkout-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}
.checkout-fields form {
  width: 80%;
}
.checkout-fields form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.checkout-fields form .input-field, .checkout-fields form textarea {
  margin-top: 8px;
  width: 100%;
}
.checkout-fields form button {
  float: right;
}
.checkout-fields .plan-field {
  background-color: #1D1D1D;
  padding: 24px;
  border-radius: 8px;
}
.checkout-fields p {
  font-size: 24px;
}
.checkout-fields .card-details {
  background-color: #1D1D1D;
  border-radius: 8px;
  padding: 24px;
  height: auto;
  padding-bottom: 72px;
}
.checkout-fields main.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: unset;
  margin: 24px 0;
}
.checkout-fields main.logo-container img {
  width: 48px;
  height: auto;
  margin-right: 12px;
}
.checkout-fields .small-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.checkout-fields .small-fields div {
  width: 45%;
}
.checkout-fields .btn {
  margin-bottom: 48px;
}

@media screen and (max-width: 800px) {
  .checkout-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .checkout-wrapper form {
    width: 100%;
  }
}
@media only screen and (max-width: 922px) {
  .checkout-container .navbar {
    position: static;
    width: 100%;
  }
}
/*======PRIVACY POLICY STYLING=======*/
.privacy-wrapper h1 {
  text-align: center;
}
.privacy-wrapper .cookies-container {
  margin: 60px 0;
}
.privacy-wrapper .cookies-container h4 {
  margin-bottom: 12px;
}

/*========MODAL STYLING-=========*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  padding-bottom: 12px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.dialogue-box {
  background-color: #1A1A1A;
  border-radius: 8px;
  padding: 24px;
  max-width: 550px;
  height: auto;
  margin: auto;
}
.dialogue-box .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dialogue-box .address-input {
  margin-top: 36px;
  width: 90%;
}
.dialogue-box .address-input .input-field {
  margin-top: 12px;
}
.dialogue-box .close {
  color: #aaaaaa;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -20%;
  margin-bottom: 15%;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dialogue-box .close:hover, .dialogue-box .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dialogue-box p {
  margin-bottom: 12px;
  text-align: left;
}
.dialogue-box .btn-group {
  margin-top: 12px;
}
.dialogue-box .btn-group small {
  color: #45AD43;
}
.dialogue-box .btn-group p {
  margin-top: 24px;
}
.dialogue-box .btn-group ul {
  margin-left: 24px;
}
.dialogue-box .btn-group a {
  margin-top: 12px;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .dialogue-box {
    width: 80%;
  }
}
@media only screen and (max-width: 348px) {
  .dialogue-box {
    padding: 12px;
    height: 270px;
  }
}
.payment-option {
  width: 100%;
}
.payment-option .switcher {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.payment-option .switcher li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
.payment-option .switcher a {
  text-decoration: none;
  color: #C4C4C4;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  width: 100%;
}
.payment-option .switcher a:hover {
  color: #F8A606;
}
.payment-option .switcher .active a {
  color: #F8A606;
  border-bottom: 1px solid #F8A606;
}
.payment-option .switcher .active a:hover {
  border-color: transparent;
  background: #333333;
  color: white;
}
.payment-option .tab-pane {
  display: none;
}
.payment-option .tab-pane.active {
  display: block;
}