
{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="page-wrapper reg-container reset-page margin-extra">
        <section class="sent-message">
            <i class="ri-checkbox-circle-fill sent-icon"></i>
            <h2>Account activation Successful.</h2>
            <p>Your email has been verified and account has successfully been activated </p>
            <p>You can now proceed to <a href="{% url 'user-profile' user.id %}" class="btn"> Update your profile </a></p>
        </section>
	</div>
{% endblock content %}