

{% load static %}    



{% block content %}
    {% autoescape off %}
    <div class="page-wrapper reg-container reset-page" style="margin-top: -200px;">
        <section class="login-wrapper">
            <div class="login-fields">               
               Hi {{ user.username }},
               <p>Your account has been successfully created. Please click the link below to activate your account.</p>
                http://{{domain}}{% url 'account-activation' uidb64=uid token=token %}
            </div>
        </section>
	</div>
    {% endautoescape %}
{% endblock content %}