
{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="page-wrapper login-fields" style="margin-top: -800px;">
        <header>
            <h2>Set Password !</h2>
        </header>
        <section class="login-wrapper">
            <div class="login-fields">               
                <form action="{% url 'user-login' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn" type="submit" name="login-btn">Set password</button>
                </form>
            </div>
        </section>
	</div>
{% endblock content %}