
{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="page-wrapper login-fields" style="margin-top: -400px;">
        <header>
            <h2>Input your new passowrd</h2>
        </header>
        <section class="login-wrapper password-reset">
            <div class="login-fields">               
                <form action="{% url 'user-login' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="new-password">New passowrd</label>
                        {{form.new_password1}}
                    </div>
                    <div>
                        <label for="retype-password">Retype passowrd</label>
                        {{form.new_password2}}
                    </div>
                    <button class="btn" type="submit" name="login-btn">Set password</button>
                </form>
            </div>
        </section>
	</div>
{% endblock content %}