
{% extends 'base.html' %}
{% load static %}    



{% block content %}
    <div class="page-wrapper reg-container" style="margin-top: -400px;">
        <header>
            <h2>Reset Password !</h2>
        </header>
        <section class="login-wrapper">
            <div class="login-fields" style="margin-bottom: -200px !important;">               
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn" type="submit" name="login-btn">Send reset link</button>
                </form>
            </div>
        </section>
	</div>
{% endblock content %}