{% extends 'base2.html' %}
{% load static %}



{% block content %}    
	<div class="page-wrapper" style="margin-top: -450px;">
        <section class="blog-post__section">
            <main class="article-section">
                <h2>Latest Articles</h2>
                <div class="blog-post__container">
                   {% for blog in latest_article %}
                    <div class="blog-post__card" id="articleCard">
                        <a href="{{ blog.get_absolute_url }}">
                            <img src="{{ blog.featured_image.url }}" alt="demo image">
                            <div class="text-container">
                                <h5>{{ blog.title|title }}</h5>
                                <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{% url 'blog-detail' blog.pk %}">..Read More...</a></p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}  
                </div>
                <div class="blog-post__container">
                    {% for blog in premium_latest_article %}
                     <div class="blog-post__card" id="articleCard">
                         <a href="{% url 'premium-blog-detail' blog.pk %}">
                             <img src="{{ blog.featured_image.url }}" alt="demo image">
                             <div class="text-container">
                                 <h5>{{ blog.title|title }}</h5>
                                 <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{% url 'premium-blog-detail' blog.pk %}">..Read More...</a></p>
                             </div>
                         </a>
                     </div>
                    {% endfor %}  
                 </div>
            </main>
            <div class="pagination">
                <a class="articleBtn">Load More<i class="ri-arrow-down-circle-line"></i></a>
            </div>


            <main class="news-section">
                <h2>Latest News</h2>
                <div class="blog-post__container">
                    {% for blog in latest_new %}
                    <div class="blog-post__card" id="newsCard">
                        <a href="{% url 'blog-detail' blog.pk %}">
                            <img src="{{ blog.featured_image.url }}" alt="demo image">
                            <div class="text-container">
                                <h5>{{ blog.title|title }}</h5>
                                <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{% url 'blog-detail' blog.pk %}">..Read More...</a></p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="blog-post__container">
                    {% for blog in premium_latest_new %}
                    <div class="blog-post__card" id="newsCard">
                        <a href="{% url 'premium-blog-detail' blog.pk %}">
                            <img src="{{ blog.featured_image.url }}" alt="demo image">
                            <div class="text-container">
                                <h5>{{ blog.title|title }}</h5>
                                <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{% url 'premium-blog-detail' blog.pk %}">..Read More...</a></p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </main>
            
            <div class="pagination">
                <a class="newsBtn">Load More<i class="ri-arrow-down-circle-line"></i></a>
            </div>

            <main class="stories-section">
                <h2>Featured Stories</h2>
                <div class="blog-post__container">
                    {% for blog in featured_story %}
                        <div class="blog-post__card" id="storyCard">
                            <a href="{{ blog.get_absolute_url }}">
                                <img src="{{ blog.featured_image.url }}" alt="demo image">
                                <div class="text-container">
                                    <h5>{{ blog.title|title }}</h5>
                                    <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{{ blog.get_absolute_url }}">..Read More...</a> </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="blog-post__container">
                    {% for blog in premium_featured_story %}
                        <div class="blog-post__card" id="storyCard">
                            <a href="{% url 'premium-blog-detail' blog.pk %}">
                                <img src="{{ blog.featured_image.url }}" alt="demo image">
                                <div class="text-container">
                                    <h5>{{ blog.title|title }}</h5>
                                    <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{% url 'premium-blog-detail' blog.pk %}">..Read More...</a> </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </main>

            <div class="pagination">
                <a class="storyBtn" role="button">Load More<i class="ri-arrow-down-circle-line"></i></a>
            </div>
		</section>
	</div>
{% endblock content %}

