{% extends 'base2.html' %}
{% load static %}



{% block content %}	
<body class="about-page">
	<div class="page-wrapper" style="margin-top: -350px;">		
		<section class="banner-section course-banner">
			<div class="header-group">
				<h4>COURSES</h4>
				<h1>You cannot find any course as simple to learn as this!</h1>
				<p class="course-hyping">From the basics to advanced lessons, we’ve simplified everything so that 
					the only thing you get to do is to understand the proven winning strategies and techniques we use, and apply it. </p>
			</div>
		</section>


		<section class="course-section">
			<div class="course-container">
			{% for crse in courses %}
				<div class="course-container__item">
					<a href="{{crse.course_link}}">
						<img src="{{crse.featured_image.url }}" alt="demo image">
						<h5>{{crse.courses}}</h5>
					</a>
				</div>
			{% endfor %}

			</div>
			
			<div class="pagination">
                <a class="coursePage" role="button">Load More<i class="ri-arrow-down-circle-line"></i></a>
            </div>
		</section>
		
	</div>
</body>
{% endblock content %}