<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Support Page | Frequently Asked Questions </title>

	<!--SEO Control-->
	<meta charset="utf-8" />
    <meta name="description" content="Unknown Satoshi is a community focused platform which educates and empowers you with the right crypto knowledge and tools.">
    <link rel="icon" href="{% static 'images/favicon.jpg' %}">

    <!--Viewport Control-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <!--Bootstrap CDN-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

	<!--Remix Icon CDN-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!--Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
	<div class="page-wrapper">		
        <div class="navbar">
            <div class="navbar__Link navbar__Link-brand">
                <a href="index.html" class="index-link">
                <img src="{% static 'images/logo.png' %}" class="navbar-logo" alt="website's logo">
                </a>
            </div>
        
            <div class="navbar__Link navbar__Link-toggle">
                <img src="{% static 'images/hamburger.png' %}" alt="site's hamburger" oncl>
                <!-- <img src="assets/images/close-hamburger.png" alt="close menu" class="close-menu"> -->
            </div>
    
            <nav class="navbar__Items">
              <ul>
                <li class="navbar__Link">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="navbar__Link">
                  <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>
                <li class="navbar__Link">
                  <a class="nav-link" href="{% url 'trade-history' %}">Trade History</a>
                </li>
                <li class="navbar__Link">
                  <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                </li>
                <li class="navbar__Link">
                  <a class="nav-link" href="{% url 'onlinestore' %}">Online Store</a>
                </li>
                <li class="navbar__Link">
                  <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
              </ul>
            </nav>
                <nav class="navbar__Items navbar__Items--right">
                {% if request.user.is_authenticated %}
                  <div class="navbar__Link">
                    <a class="btn hire-btn"  href="{% url 'logout' %}">Logout</a>
                </div>
                    {% else %}

                    <div class="navbar__Link">
                     <a class="btn hire-btn"  href="{% url 'register' %}">Sign Up</a>
                    </div>

                    {% endif%}

                
            </nav>
        </div>
		
		
		<br>
        <br>
        <section class="contact-headings support-header">
            <h1>Support</h1>
            <p>Hi, need help? check out this page for support</p>
            <p>While we're the best with charts, we're also the best to chat with! Have any query to make? <a href="contact.html">Get in touch!</a></p>
        </section>


        <section class="support-wrapper">
            <div class="crypto-intro">
                <h4>New to crypto?</h4>
                <p><a href="learn.html">Learn how to use Unknown Satoshi</a></p>
            </div>

            <div class="faqs-section">
                <h4>FAQs</h4>
                <h5>Frequently Asked Questions</h5>
                <div class="faqs-container">
                    <details open>
                        <summary>What is Unknown Satoshi</summary>
                        <p>Unknown Satoshi is a platform that teaches you all you need to know about cryptocurrency in order to become a successful trader and investor. </p>
                    </details>

                    <details>
                        <summary>How do I sign up?</summary>
                        <p>Click <a href="https://discord.gg/zFGTdZYsQ4" class="inline-link">here</a> to join our free discord community, or click <a href="subscription.html" class="inline-link">here</a> to choose a premium plan to get access to all our exclusive signals and services.</p>
                    </details>

                    <details>
                        <summary>Do I need to be techie to use Unknown Satoshi?</summary>
                        <p>You do not need to be a techie to use Unknown Satoshi, our <a href="{% url 'courses' %}" class="inline-link">courses</a> have been simplified and you learn at your own pace via our interactive dashboard.</p>
                    </details>

                    <details>
                        <summary>How do the payments plans work?</summary>
                        <p>You can pay for 1, 3 or 6 months plan for Unknown Satoshi Premium. After you sign up, you would be added to the premium group on Discord. You can pay in crypto or Naira. </p>
                    </details>

                    <details>
                        <summary>Can I cancel my payment?</summary>
                        <p>You are free to cancel your payments plans anytime. </p>
                    </details>

                    <details>
                        <summary>Can I ask for a refund?</summary>
                        <p>Yes, we offer refunds but only within 14 days after you pay for our services.</p>
                    </details>
                </div>
            </div>

            <div class="external-support">
                <h2>Can't seem to find the answer to your question?</h2>
                <a href="{% url 'contact' %}" class="btn">Get in touch now</a>

                <p>You can also send us message through our various online platform to get help</p>
                <div class="social-links">
                    <a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
                    <a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
                    <a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
                </div>

                <h3>OR</h3>
                <P>Send us a mail at <a href="mailto:unknown@unknownsatoshi.com" class="inline-link">unknown@unknownsatoshi.com</a></P>
            </div>
        </section>


	</div>

    <footer>
        <div class="footer-content__container">
            <section class="footer-content__item">
                <h4>Contact Us</h4>
                <div class="contact-options">
                    <img src="{% static 'images/alt-logo.png' %}" alt="logo for unknown satoshi" class="alt-logo">
                    <p>A community focused platform which educates and empowers you with the right crypto knowledge and tools.</p>
                    <p class="iconic-paragraph"><i class="ri-mail-line"></i><a href="mailto:unknown@unknownsatoshi.com">unknown@unknownsatoshi.com</a></p>
                </div>
                
                <div class="social-links">
					<h4>Connect Socially</h4>
					<a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
					<a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
					<a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
                    <a href="https://youtube.com/channel/UCzpteHI9OCi6eAzRJyTZjRg"><i class="ri-youtube-line"></i></a>
				</div>
            </section>

            <section class="footer-content__item">
				<h4>Quick Access</h4>
				<div class="links">
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'about' %}">About</a>
					<a href="{% url 'trade-history' %}">Trade Record</a>
					<a href="{% url 'contact' %}">Contact</a>
					<a href="{% url 'faqs' %}">FAQs</a>
					<a href="{% url 'blog' %}">Blog</a>
				</div>
			</section>

			<section class="footer-content__item">
				<h4>Company</h4>
				<div class="links">
					<a href="competition.html">Trading Competition</a>
					<a href="{% url 'courses' %}">Courses</a>
					<a href="{% url 'onlinestore' %}">Store</a>
					<a href="privacy.html">Privacy Policy</a>
					<a href="terms.html">Terms and Conditions</a>
				</div>
			</section>
        </div>
    </footer>
	  






<!--BOOTSTRAP JAVASCRIPT-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

<!--CUSTOM JAVASCRIPT-->
<script src="assets/js/script.js"></script>

<!--Jquery CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>