{% extends 'base.html' %}
{% load static %}




{% block content %}
	<div class="page-wrapper" style="margin-top: -470px;">		

        <section class="contact-headings support-header">
            <h1>Support</h1>
            <p>Hi, need help? check out this page for support</p>
            <p>While we're the best with charts, we're also the best to chat with! Have any query to make? <a href="contact.html">Get in touch!</a></p>
        </section>


        <section class="support-wrapper">
            <div class="crypto-intro">
                <h4>New to crypto?</h4>
                <p><a href="learn.html">Learn how to use Unknown Satoshi</a></p>
            </div>

            <div class="faqs-section">
                <h4>FAQs</h4>
                <h5>Frequently Asked Questions</h5>
                <div class="faqs-container">
                    <details open>
                        <summary>What is Unknown Satoshi</summary>
                        <p>Unknown Satoshi is a platform that teaches you all you need to know about cryptocurrency in order to become a successful trader and investor. </p>
                    </details>

                    <details>
                        <summary>How do I sign up?</summary>
                        <p>Click <a href="https://discord.gg/zFGTdZYsQ4" class="inline-link">here</a> to join our free discord community, or click <a href="subscription.html" class="inline-link">here</a> to choose a premium plan to get access to all our exclusive signals and services.</p>
                    </details>

                    <details>
                        <summary>Do I need to be techie to use Unknown Satoshi?</summary>
                        <p>You do not need to be a techie to use Unknown Satoshi, our <a href="{% url 'courses' %}" class="inline-link">courses</a> have been simplified and you learn at your own pace via our interactive dashboard.</p>
                    </details>

                    <details>
                        <summary>How do the payments plans work?</summary>
                        <p>You can pay for 1, 3 or 6 months plan for Unknown Satoshi Premium. After you sign up, you would be added to the premium group on Discord. You can pay in crypto or Naira. </p>
                    </details>

                    <details>
                        <summary>Can I cancel my payment?</summary>
                        <p>You are free to cancel your payments plans anytime. </p>
                    </details>

                    <details>
                        <summary>Can I ask for a refund?</summary>
                        <p>Yes, we offer refunds but only within 14 days after you pay for our services.</p>
                    </details>
                </div>
            </div>

            <div class="external-support">
                <h2>Can't seem to find the answer to your question?</h2>
                <a href="{% url 'contact' %}" class="btn">Get in touch now</a>

                <p>You can also send us message through our various online platform to get help</p>
                <div class="social-links">
                    <a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
                    <a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
                    <a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
                </div>

                <h3>OR</h3>
                <P>Send us a mail at <a href="mailto:unknown@unknownsatoshi.com" class="inline-link">unknown@unknownsatoshi.com</a></P>
            </div>
        </section>
	</div>
{% endblock content %}