{% extends 'base2.html' %}
{% load static %}



{% block content %}
	<div class="page-wrapper">		
		<header class="banner-wrapper">		
			<section class="hero-section">
				<div class="hero-section__title">
				<h1>Welcome to Unknown Satoshi</h1>
				<p>A community focused platform which educates and empowers you with the right crypto knowledge and tools.</p>
				</div>
				<br>
				<a class="btn" href="https://discord.gg/zFGTdZYsQ4">Join Community</a>
				<small>Join Our Discord Group For Free Now</small>

				<img src="{% static 'images/hero-img.png' %}" class="hero-img" alt="image of cryptocurrency trading signal">
			</section>
		</header>
		


		<section class="blog-section">
			<h2>Blog Post</h2>
			<h4>Don't know where to start? Check out some of our blog posts to know more about cryptocurrency</h4>
			
			<div class="blog-post__container">
				
				{% for blog in blogs %}
				<div class="blog-post__card" id="index-blog">
					<a href="{{blog.get_absolute_url}}">
						<img src="{{blog.featured_image.url}}" alt="demo image">
						<div class="text-container">
							<h5>{{blog.title|title}}</h5>
							<p>{{blog.home_snippet|safe}}</p>
						</div>
					</a>
				</div>
				{% endfor %}
				
			</div>
		</section>

		<hr>
		<section class="subscription-section">
			<div class="subscription-container">
				<h2>Unknown Satoshi Pro</h2>
				<p>Get started with UnknownSatoshi Pro today! <br> You don't have to do anything, we would do that for you, all you have to do is choose a plan.<br>
					which takes less than 2mins.</p>
				<a class="btn" href="{% url 'plan-list' %}">Get Started</a>
			</div>
		</section>
		<hr>

		<section class="course-section">
			<h2 class="course-heading">Our Courses</h2>
			<div class="course-container">
				<div class="course-container__item">
					<a href="#">
						<img src="{% static 'images/img-3.jpg' %}" alt="demo image">
						<h5>Beginners Guide to Crypto </h5>
						<p>In this course, we introduce you to the basics of crypto and what you should know to kickstart your journey as a crypto beginner. </p>
					</a>
				</div>

				<div class="course-container__item">
					<a href="#">
						<img src="{% static 'images/img-5.jpg' %}" alt="demo image">
						<h5>Technical Analysis Mastery </h5>
						<p>In this course, we provide you with all you need to know about how to trade cryptocurrencies. This course takes you from a beginner to professional technical analyst.</p>
					</a>
				</div>

				<div class="course-container__item">
					<a href="#">
						<img src="{% static 'images/img-6.jpg' %}" alt="demo image">
						<h5>Beginners Guide to Crypto </h5>
						<p>In this course, we introduce you to the basics of crypto and what you should know to kickstart your journey as a crypto beginner. </p>
					</a>
				</div>
			</div>
			<div class="course-btn__container">
				<a class="btn" href="{% url 'courses' %}">See More Courses</a>
			</div>			
		</section>
		
		<hr>

		<section class="history-section">
			<div class="description-container">
				<h2>Check out our trade record</h2>
				<p>Check out Unknown Satoshi's signal performance and percentage profit & loss per trade to know what you are missing! </p>
				<a class="btn" role="button" href="{% url 'trade-history' %}">See Record</a>
			</div>

			<div class="image-container">
				<img src="{% static 'images/history.png' %}" alt="3D illustration of Trade History">
			</div>
		</section>


		<section class="testimonial-section">
			<h2>Take a look at the reviews from our community</h2>
			<div class="owl-carousel owl-theme testimonial-wrapper" id="slider">
				<div class="testimonial-container item">
						<div class="star-rating">
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-line"></i>
						</div>
						<main>
							<p> Swift and secure trading, sure trading signals, master of coin predictions. I love it. </p>
							<p class="bold">Omobolaji Memofoyi</p>
							<cite>-CEO, Ladybees Gallery </cite>
						</main>
					</a>
				</div>
	
				<div class="testimonial-container item">
						<div class="star-rating">
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-line"></i>
						</div>
						<main>
							<p>Unknown Satoshi is an amazing community. Being part of the community since inception has made me profit, with their timely calls, tutorials, market analysis and reliable market updates. I would recommend the brand to anybody whether newbies or expert traders. </p>
							<p class="bold">Oguntade Habeeb</p>
							<cite>-Visual Designer, Emerald HB </cite>
						</main>
				</div>
	
				<div class="testimonial-container item">
						<div class="star-rating">
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-fill"></i>
							<i class="ri-star-line"></i>
						</div>
						<main>
							<p>I have made alot of progress in crypto ever since I joined Unknown Satoshi crypto community, and the most surprising thing is, it was for free. I haven't only learned, but I have also earned through their guidance. </p>
							<p class="bold">Olajugba John</p>
							<cite>-CEO, Triple J Global </cite>
						</main>
				</div>

				<div class="testimonial-container item">
					<div class="star-rating">
						<i class="ri-star-fill"></i>
						<i class="ri-star-fill"></i>
						<i class="ri-star-fill"></i>
						<i class="ri-star-fill"></i>
						<i class="ri-star-line"></i>
					</div>
					<main>
						<p>I  started my crypto journey from the Unknown Satoshi group, I was never a fan of crypto, since I joined the group I have been growing my portfolio with the help of the community members and I am glad to be part of the community!</p>
						<p class="bold">Adeshina Lasisi</p>
						<cite>-Software engineer, Africa Prudential Plc</cite>
					</main>
			</div>
			</div>
		</section>


		<section class="trading-section">
			<div class="description-container">
				<h2>We Provide you the best trading signal</h2>
				<p>Join hundreds already benefitting. Beginner or Pro, Unknown Satoshi Community is the place for you. Crypto signals, market analysis, NFT's and more, all in one place.
				</p>
				<a class="btn" href="{% url 'plan-list' %}">Get Started</a>
			</div>

			<div class="image-container">
				<img src="{% static 'images/signal.png' %}" alt="3D image design of trading signal">
			</div>
		</section>
	</div>
{% endblock content %}