{% extends 'base2.html' %}
{% load static %}




{% block content %}    
<div class="page-wrapper post-wrapper margin-extra">
    <section class="article-wrapper">
        <div class="post-details">
            <span class="iconic-span"><i class="ri-calendar-line"></i>{{blog.created_on|date}}</span>
            <span class="iconic-span"><i class="ri-user-line"></i>{{blog.updated_on|date}}</span>
        </div>
        <div class="blog-content_container">
            <img src="{{blog.featured_image.url}}" class="blog-banner" alt="demo image for blog post">

            <h1 class="post-title">{{blog.title|title}}</h1>
            <div class="post-content">
                <p>{{blog.post|safe}}</p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}