{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="page-wrapper post-wrapper margin-extra">		
        <section class="privacy-wrapper">
            <h1>Privacy Policy</h1>

            <div class="cookies-container">
                <h4>Anonymous visitors Statistics</h4>
                <p>We use cookies to compile visitor statistics such as how many people have visited our website, 
                    what type of technology they are using (e.g. Mac or Windows which helps to identify when our site 
                    isn’t working as it should for particular technologies), how long they spend on the site, what page 
                    they look at etc. This helps us to continuously improve our website. These so called analytics programs 
                    also tell us if , on an anonymous basis, how people reached this site (e.g. from a search engine) and whether 
                    they have been here before helping us to put more money into developing our services for you instead of marketing spend.</p>
            </div>
        </section>
	</div>    
{% endblock content %}
    