<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>UnknownSatoshi | User Profile</title>

	<!--SEO Control-->
	<meta charset="utf-8" />
    <meta name="description" content="From the basics to advanced lessons, we’ve simplified everything so that the only thing you get to do is to understand the proven strategies and techniques we use, and apply it.">
    <link rel="icon" href="assets/images/favicon.jpg">

    <!--Viewport Control-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <!--Bootstrap CDN-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

	
	<!--Remix Icon CDN-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!--Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
	<div class="page-wrapper">		
        <div class="navbar">
            <div class="navbar__Link navbar__Link-brand">
                <a href="index.html" class="index-link">
                <img src="assets/images/logo.png" class="navbar-logo" alt="website's logo">
                </a>
            </div>
        
            <div class="navbar__Link navbar__Link-toggle">
                <img src="assets/images/hamburger.png" alt="site's hamburger" oncl>
                
            </div>
    
            <nav class="navbar__Items">
                <ul>
					<li class="navbar__Link">
						<a class="nav-link" href="about.html">About</a>
					</li>

					<li class="navbar__Link">
						<a class="nav-link" href="blog.html">Blog</a>
					</li>

					<li class="navbar__Link">
						<a class="nav-link" href="trade.html">Trade Record</a>
					</li>

					<li class="navbar__Link">
						<a class="nav-link" href="course.html">Courses</a>
					</li>

					<li class="navbar__Link">
						<a class="nav-link" href="store.html">Online Store</a>
					</li>

					<li class="navbar__Link">
						<a class="nav-link" href="contact.html">Contact us</a>
					</li>
										
				</ul>
            </nav>
            <nav class="navbar__Items navbar__Items--right">
                <div class="navbar__Link">
                <a class="btn hire-btn" href="login.html">logout</a>
                </div>
            </nav>
        </div>
		
		
		<br>
        <section class="user-profile">
            <div class="user-image">
                <img src="assets/images/user-2.jpg" alt="user's profile image">
                <h4>UnknownSatoshi</h4>
                <form action="profile.html" method="get">
                    <div>
                        <label for="image">Change Picture</label>                   
                        <input type="file" name="image" id="image" class="input-field" accept="image/*" required>
                    </div>
                </form>
            </div>

            <div class="profile-description">
                <div class="profile-details">
                    <h4>Profile Information</h4>
                    <p><label for="username">Username:</label> Satoshi</p>
                    <p><label for="email">Email:</label> satoshi@info.com</p>
                    <p><label for="fullname">Full Name:</label> Unknown Satoshi</p>
                    
                </div>
                <div class="profile-fields">
                    <h4>Update Profile</h4>               
                    <form action="profile.html" method="post">
                        <div>
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="input-field" value="unknownsatoshi" required>
                        </div>
                        <div>
                            <label for="fullname">Full-name</label>
                            <input type="text" name="fullname" id="fullname" class="input-field" value="Unknown Satoshi" required>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="input-field" value="satoshi@info.com" required>
                        </div>
                        
                        <div class="password-change">
                            <h5>Change Password</h5>
                            <label for="password">Old Password</label>
                            <input type="password" name="pword" id="pword" class="input-field" placeholder="Your old password" required>
                        </div>
                        <div>
                            <label for="newPassword">New Password</label>
                            <input type="password" name="newPword" id="newPword" class="input-field" placeholder="Input New password" required>
                        </div>

                            <button class="btn" type="submit" name="save-btn">Save Changes</button>
                    </form>
                    
                </div>

            </div>
        </section>

	</div>
    
    <footer>
        <div class="footer-content__container">
            <section class="footer-content__item">
                <h4>Contact Us</h4>
                <div class="contact-options">
                    <img src="assets/images/alt-logo.png" alt="logo for unknown satoshi" class="alt-logo">
                    <p>A community focused platform which educates and empowers you with the right crypto knowledge and tools.</p>
                    <p class="iconic-paragraph"><i class="ri-mail-line"></i><a href="mailto:unknown@unknownsatoshi.com">unknown@unknownsatoshi.com</a></p>
                </div>
                
                <div class="social-links">
					<h4>Connect Socially</h4>
					<a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
					<a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
					<a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
                    <a href="https://youtube.com/channel/UCzpteHI9OCi6eAzRJyTZjRg"><i class="ri-youtube-line"></i></a>
				</div>
            </section>

            <section class="footer-content__item">
                <h4>Quick Access</h4>
                <div class="links">
                    <a href="index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="trade.html">Trade Record</a>
                    <a href="contact.html">Contact</a>
                    <a href="faqs.html">FAQs</a>
                    <a href="blog.html">Blog</a>
                </div>
            </section>

            <section class="footer-content__item">
                <h4>Company</h4>
                <div class="links">
                    <a href="competition.html">Trading Competition</a>
                    <a href="course.html">Courses</a>
                    <a href="store.html">Store</a>
                    <a href="privacy.html">Privacy Policy</a>
                    <a href="terms.html">Terms and Conditions</a>
                </div>
            </section>
        </div>
    </footer>
	  






<!--BOOTSTRAP JAVASCRIPT-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

<!--CUSTOM JAVASCRIPT-->
<script src="assets/js/script.js"></script>

<!--Jquery CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>
</html>