{% extends 'base.html' %}
{% load static %}

<title>{% block title %}UnknownSatoshi | {{blog.title}}{% endblock title %}</title>
<meta name="description" content="{% block meta %} {{blog.meta_snippet|safe}} {% endblock meta %}">




{% block content %}
	<div class="page-wrapper margin-extra">		
        <section class="article-wrapper">
            <div class="post-details">
                <span class="iconic-span"><i class="ri-calendar-line"></i> {{blog.created_on|date}}</span>
				<span class="iconic-span"><i class="ri-user-line"></i> {{blog.author}}</span>
                
            </div>
            <div class="blog-content_container">
                <img src="{{blog.featured_image.url}}" class="blog-banner" alt="demo image for blog post">

                <h1 class="post-title">{{blog.title}}</h1>
                <div class="post-content">
                    <p>{{blog.post|safe}}</p>
                </div>
            </div>
        </section>
       


        <section class="newsletter-section">
			<h2>Newsletter</h2>
			<p>Sign up for our weekly newsletter to get the latest news, special offers, market researchs, crypto analysis and more. We promise not to spam your mail</p>

			<form action="index.html" method="post">
				<input type="email" name="email" id="email" class="input-field" placeholder="Input your email address..." required>
				<a class="btn" role="button" href="#">Join Newsletter</a>
			</form>
		</section>


		<section class="join-community">
			<h2>Become part of a global community of elite crypto traders</h2>
			<p>Don't miss the life changing opportunity crypto has to offer. Get access to latest informations, crypto signals and Market analysis</p>
			<a class="btn" href="https://discord.gg/zFGTdZYsQ4">Join Community</a>
		</section>
	</div>
{% endblock content %}