{% extends 'base.html' %}
{% load social_share %}
{% load static %}
{% load hitcount_tags %}
<title>{% block title %}UnknownSatoshi | {{blog.title}}{% endblock title %}</title>
<meta name="description" content="{% block meta %} {{blog.meta_snippet|safe}} {% endblock meta %}">



{% block content %}

<div class="page-wrapper margin-extra single-wrapper">
	<section class="article-wrapper">
		<div class="post-details article-details">
			<span class="iconic-span"><i class="ri-calendar-line"></i> {{blog.created_on|date}}</span>
			<span class="iconic-span"><i class="ri-user-line"></i> {{blog.author}}</span>
          
			<span class="iconic-span"><i class="ri-eye-line"></i>{{view_count}} view{{view_count|pluralize:"s"}}</span>
		

			
		</div>
		<div class="blog-content_container">
			<img src="{{blog.featured_image.url}}" class="blog-banner" alt="demo image for blog post">

			<h1 class="post-title">{{blog.title}}</h1>
			<div class="post-content">
				<p>{{blog.post|safe}}</p>
			</div>
		</div>

		<aside class="reviews-section article-details">
			<ul>


				<li class="iconic-span icon-bg-dark like-btn">
					{% if msg %}
					<i id="ilike" class="ri-heart-fill"></i>
					{% else %}
					<i id="ilike" class="ri-heart-line"></i>
					{% endif %}

					<span id="num" class="action-number__like">{{blog.likes.count}}</span>
				</li>

				<li class="iconic-span icon-bg-dark"><i class="ri-message-2-line"></i> <span
						class="action-number__comment">{{blog.comment_set.all.count}}</span></li>
				<li class="iconic-span icon-bg-dark share-btn"><i class="ri-share-line"></i></li>
				<article class="social-sharing">
					<div class="social-sharing__wrapper">
						<span class="bold">share Article</span>
						<span class="sharing-link"><i class="ri-facebook-circle-fill"></i> {% post_to_facebook "Check out{{blog.title}}" object_or_url "Facebook" %}</span>
						<span class="sharing-link"><i class="ri-twitter-fill"></i> {% post_to_twitter "Check out{{blog.title}}" object_or_url "Twitter" %}</span>
						<span class="sharing-link">{% post_to_linkedin object_or_url "Linkedin" %}</span>
						<span class="sharing-link"><i class="ri-whatsapp-line"></i> {% post_to_whatsapp "Check out{{blog.title}}" object_or_url "Whatsapp" %}</span>
						<span class="sharing-link"><i class="ri-link"></i> {% copy_to_clipboard object_or_url %}</span>
					</div>
				</article>

			</ul>
		</aside>

		<!-- THE MODAL WINDOW THAT SHOWS WHEN A USER IS NOT LOGGED IN AND TRYS TO LIKE A POST -->
		<article class="modal-window hidden">
			<div class="modal-container">
				<button class="close-modal">&times;</button>
				<p class="description">Please login to continue this action</p>
				<a class="btn login-btn" href="{% url 'user-login' %}?next={{request.path}}">Login</a>
				<p>Don't have an account? <a href="{% url 'register' %}">Create an account</a></p>
			</div>
		</article>
		<div class="overlay hidden"></div>
	</section>

	<section class="comment-section">
		{% if request.user.is_anonymous %}
		    <h4>Please <a style="text-decoration:underline;" href="{% url 'user-login' %}?next={{request.path}}">login to leave a review</a></h4>
			{% else %}
			<form action="{% url 'blog-detail' slug=blog.slug %}" method="POST">
				{% csrf_token %}
				{% for field in form %}
				<div>
					<label for="comment">{{field.label}}</label>
					{{field}}
				</div>
				{% endfor %}
				<button class="btn" type="submit" name="submit-btn">Publish Comment</button>
			</form>
		{% endif %}

		<main class="comments-wrapper">
			<h4>Comments</h4>
			{% for comment in blog.comment_set.all %}

			<div class="comment-container">
				<div class="profile-container">
					<img src="{% static 'images/profile_image/5.png' %}"
						alt="profile-image"><span>{{comment.owner|title}}</span>
				</div>
				<p>{{comment.body|capfirst}}</p>
			</div>
			{% empty %}
			<p>No comments on this blog yet</p>
			{% endfor %}
		</main>
	</section>

	<section class="blog-post__section">
		<main class="stories-section related-posts">
			<h2>Related Articles</h2>
			<div class="blog-post__container">
				{% for blog in latest_article %}
                    <div class="blog-post__card" id="articleCard">
                        <a href="{{ blog.get_absolute_url }}">
                            <img src="{{ blog.featured_image.url }}" alt="demo image">
                            <div class="text-container">
                                <h5>{{ blog.title|title }}</h5>
        
                                
                                <p>{{ blog.snippet|safe }}<a style="color: #EE5717;" href="{% url 'blog-detail' blog.slug %}">..Read More...</a></p>
                            </div>
                        </a>
                    </div>
                {% endfor %}  

			</div>
		</main>
		<div class="pagination">
			<a href="{% url 'blog' %}">See more<i class="ri-arrow-down-circle-line"></i></a>
		</div>
	</section>

	<section class="newsletter-section">
		<h2>Newsletter</h2>
		<p>Sign up for our weekly newsletter to get the latest news, special offers, market researchs, crypto analysis
			and more. We promise not to spam your mail</p>

		<form action="index.html" method="post">
			<input type="email" name="email" id="email" class="input-field" placeholder="Input your email address..."
				required>
			<a class="btn" role="button" href="#">Join Newsletter</a>
		</form>
	</section>


	<section class="join-community">
		<h2>Become part of a global community of elite crypto traders</h2>
		<p>Don't miss the life changing opportunity crypto has to offer. Get access to latest informations, crypto
			signals and Market analysis</p>
		<a class="btn" href="https://discord.gg/zFGTdZYsQ4">Join Community</a>
	</section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	const csrftoken = getCookie('csrftoken');
	const modal = document.querySelector(".modal-window");
	const closeModal = document.querySelector(".close-modal");
	const overlayBackdrop = document.querySelector(".overlay");

	//FUNCTION FOR SHWOING AND HIDING MODAL
	const hideModal = function () {
		modal.classList.add("hidden");
		overlayBackdrop.classList.add("hidden");
	};

	const showModal = function () {
		modal.classList.remove("hidden");
		overlayBackdrop.classList.remove("hidden");
	}

	let btn = document.getElementById("ilike")
	let num_of_likes = document.getElementById("num")
	let blog_id = "{{blog.id}}"

	btn.addEventListener("click", likePost)

	function likePost(e) {
		let url = "{% url 'like' %}"
		const data = { id: blog_id }

		fetch(url, {
			method: 'POST',
			headers: {
				"Content-Type": "application/json",
				'X-CSRFToken': csrftoken
			},
			body: JSON.stringify(data)
		})
			.then(res => res.json())
			.then(data => {
				console.log(data)

				if (data["check"] == 1) {
					btn.classList.remove("ri-heart-line")
					btn.classList.add('ri-heart-fill')
				}

				else if (data["check"] == 0) {
					btn.classList.add("ri-heart-line")
					btn.classList.remove('ri-heart-fill')
				}

				else {
					btn.addEventListener("click", showModal);
					closeModal.addEventListener("click", hideModal);
					overlayBackdrop.addEventListener("click", hideModal);
				}

				num_of_likes.innerHTML = data["num_of_likes"]



			})


	}
</script>
{% endblock content %}