{% extends 'base2.html' %}
{% load static %}


{% block header_logo %}<!--hint for issues-->
<header>
    <div class="navbar__Link navbar__Link-brand">
        <a href="{% url 'onlinestore' %}" class="index-link">
            <img src="{% static './images/store-icon.png' %}" class="navbar-logo store-icon" alt="Gokana icon logo">
        </a>
    </div>
</header>
{% endblock header_logo %}


{% block content %}
<body class="about-page">

	<div class="page-wrapper" style="margin-top: -400px;">		

	<div class="page-wrapper">		
        <div class="navbar">
            <div class="navbar__Link navbar__Link-brand">
                <a href="{% url 'home' %}" class="index-link">
                <img src="{% static 'images/logo.png' %}" class="navbar-logo" alt="website's logo">
                </a>
            </div>
            
            <div class="profile-wrapper">
                <a href="profile.html"><img src="{% static './images/user1.png' %}" class="img-profile"></i></a>
            </div>
            <div class="navbar__Link navbar__Link-toggle">
                <img src=" {% static 'images/hamburger.png' %}" alt="site's hamburger" oncl>
                <!-- <img src="assets/images/close-hamburger.png" alt="close menu" class="close-menu"> -->
            </div>
    
            <nav class="navbar__Items">
                <ul>
                    <li class="navbar__Link">
						<a class="nav-link" href="{% url 'home' %}">Home</a>
					</li>
					<li class="navbar__Link">
						<a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					<li class="navbar__Link">
						<a class="nav-link" href="{% url 'contact' %}">Contact us</a>
					</li>
					<li class="navbar__Link">
						<a class="nav-link" href="{% url 'trade-history' %}">Trade History</a>
					</li>
					<li class="navbar__Link">
						<a class="nav-link" href="{% url 'courses' %}">Courses</a>
					</li>
					<li class="navbar__Link">
						<a class="nav-link" href="{% url 'onlinestore' %}">Online Store</a>
					</li>
					<li class="navbar__Link">
						<a class="nav-link" href="{% url 'blog' %}">Blog</a>
					</li>
				</ul>
            </nav>
			<nav class="navbar__Items navbar__Items--right">
                {% if request.user.is_authenticated %}
                    <div class="profile">
                        <a href="profile.html"><img src="{% static './images/user1.png' %}" class="img-profile"></i></a>
                    </div>
                  <div class="navbar__Link">
                <a class="btn hire-btn"  href="{% url 'logout' %}">Logout</a>
                </div>
                    {% else %}

                    <div class="navbar__Link">
                                    <a class="btn hire-btn"  href="{% url 'login' %}">Sign Up</a>
                                    </div>

                    {% endif%}

                
            </nav>
        </div>
		
		
		<br>


            <section class="merch-store" id="merch">
                <div class="product-wrapper">
                    <h2>Merch</h2>
                    <div class="products-container">
                    {% for product in products %}
                        <div class="product-container__item">
                            <img src="{{product.featured_image.url}}" alt="picture of merch product">
                            <main>
                                <div class="details-container">
                                    <p>{{product.product_name}}</p>
                                    <a class="btn" href="{{product.product_link}}">Buy Now</a>
                                </div>
                                <h5>${{product.price}}</h5>
                            </main>
                        </div>
                    {% endfor %}

                    </div>

                </div>

                <div class="pagination">
                    <a>Load More<i class="ri-arrow-down-circle-line"></i></a>
                </div>
            </section>


            <section class="NFT-store" id="nfts">
                <div class="product-wrapper">
                    <h2>NFT Arts</h2>
                    <div class="products-container">
                         {% for product in products %}
                        <div class="product-container__item">
                            <img src="{{product.featured_image.url}}" alt="picture of merch product">
                            <main>
                                <div class="details-container">
                                    <p>{{product.product_name}}</p>
                                    <a class="btn" href="{{product.product_link}}">Buy Now</a>
                                </div>
                                <h5>${{product.price}}</h5>
                            </main>
                        </div>
                    {% endfor %}
                    </div>

                </div>

                <div class="pagination">
                    <a>Load More<i class="ri-arrow-down-circle-line"></i></a>
                </div>
            </section>
            <section class="testimonial-section">
                <h2>Take a look at the reviews from our community</h2>
                <div class="owl-carousel owl-theme testimonial-wrapper" id="slider">
                    <div class="testimonial-container item">
                            <div class="star-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <main>
                                <p> Swift and secure trading, sure trading signals, master of coin predictions. I love it. </p>
                                <p class="bold">Omobolaji Memofoyi</p>
                                <cite>-CEO, Ladybees Gallery </cite>
                            </main>
                        </a>
                    </div>
        
                    <div class="testimonial-container item">
                            <div class="star-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <main>
                                <p>Unknown Satoshi is an amazing community. Being part of the community since inception has made me profit, with their timely calls, tutorials, market analysis and reliable market updates. I would recommend the brand to anybody whether newbies or expert traders. </p>
                                <p class="bold">Oguntade Habeeb</p>
                                <cite>-Visual Designer, Emerald HB </cite>
                            </main>
                    </div>
        
                    <div class="testimonial-container item">
                            <div class="star-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <main>
                                <p>I have made alot of progress in crypto ever since I joined Unknown Satoshi crypto community, and the most surprising thing is, it was for free. I haven't only learned, but I have also earned through their guidance. </p>
                                <p class="bold">Olajugba John</p>
                                <cite>-CEO, Triple J Global </cite>
                            </main>
                    </div>
    
                    <div class="testimonial-container item">
                        <div class="star-rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                        </div>
                        <main>
                            <p>I  started my crypto journey from the Unknown Satoshi group, I was never a fan of crypto, since I joined the group I have been growing my portfolio with the help of the community members and I am glad to be part of the community!</p>
                            <p class="bold">Adeshina Lasisi</p>
                            <cite>-Software engineer, Africa Prudential Plc</cite>
                        </main>
                </div>
                </div>
            </section>
	</div>


    <footer>
		<div class="footer-content__container">
			<section class="footer-content__item">
				<h4>Contact Us</h4>
				<div class="contact-options">
					<img src="{% static 'images/alt-logo.png' %}" alt="logo for unknown satoshi" class="alt-logo">
					<p>A community focused platform which educates and empowers you with the right crypto knowledge and tools.</p>
					<p class="iconic-paragraph"><i class="ri-mail-line"></i><a href="mailto:unknown@unknownsatoshi.com">unknown@unknownsatoshi.com</a></p>
				</div>
				
				<div class="social-links">
					<h4>Connect Socially</h4>
					<a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
					<a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
					<a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
					<a href="https://youtube.com/channel/UCzpteHI9OCi6eAzRJyTZjRg"><i class="ri-youtube-line"></i></a>
				</div>
			</section>

			<section class="footer-content__item">
				<h4>Quick Access</h4>
				<div class="links">
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'about' %}">About</a>
					<a href="{% url 'trade-history' %}">Trade Record</a>
					<a href="{% url 'contact' %}">Contact</a>
					<a href="{% url 'faqs' %}">FAQs</a>
					<a href="{% url 'blog' %}">Blog</a>
				</div>
			</section>

			<section class="footer-content__item">
				<h4>Company</h4>
				<div class="links">
					<a href="competition.html">Trading Competition</a>
					<a href="{% url 'courses' %}">Courses</a>
					<a href="{% url 'onlinestore' %}">Store</a>
					<a href="privacy.html">Privacy Policy</a>
					<a href="terms.html">Terms and Conditions</a>
				</div>
			</section>
		</div>
	</footer>
	  






<!--BOOTSTRAP JAVASCRIPT-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

<!--CUSTOM JAVASCRIPT-->
<script src="assets/js/script.js"></script>

<!--Jquery CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</body>
{% endblock content %}