{% extends 'base2.html' %}
{% load static %}




{% block content %}
<body class="about-page">

	<div class="page-wrapper" style="margin-top: -450px;">		
	

            <section class="merch-store" id="merch">
                <div class="product-wrapper">
                    <h2>Merch</h2>
                    <div class="products-container">
                    {% for product in products %}
                        <div class="product-container__item">
                            <img src="{{product.featured_image.url}}" alt="picture of merch product">
                            <main>
                                <div class="details-container">
                                    <p>{{product.product_name}}</p>
                                    <a class="btn" href="{{product.product_link}}">Buy Now</a>
                                </div>
                                <h5>${{product.price}}</h5>
                            </main>
                        </div>
                    {% endfor %}

                    </div>

                </div>

                <div class="pagination">
                    <a>Load More<i class="ri-arrow-down-circle-line"></i></a>
                </div>
            </section>


            <section class="NFT-store" id="nfts">
                <div class="product-wrapper">
                    <h2>NFT Arts</h2>
                    <div class="products-container">
                         {% for product in products %}
                        <div class="product-container__item" id="nftCard">
                            <img src="{{product.featured_image.url}}" alt="picture of merch product">
                            <main>
                                <div class="details-container">
                                    <p>{{product.product_name}}</p>
                                    <a class="btn" href="{{product.product_link}}">Buy Now</a>
                                </div>
                                <h5>${{product.price}}</h5>
                            </main>
                        </div>
                    {% endfor %}
                    </div>

                </div>

                <div class="pagination">
                    <a class="nftBtn">Load More<i class="ri-arrow-down-circle-line"></i></a>
                </div>
            </section>

            
	    </div>


    

	</div>


  
</body>
{% endblock content %}
