{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Subscription page | Unknown Satoshi</title>

	<!--SEO Control-->
	<meta charset="utf-8" />
    <meta name="description" content="Unknown Satoshi is a community focused platform which educates and empowers you with the right crypto knowledge and tools.">
    <link rel="icon" href="{% static './images/favicon.jpg' %}">
    <link rel="icon" href="assets/images/favicon.jpg">

    <!--Viewport Control-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}" />

    <!--Bootstrap CDN-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

	<!--Remix Icon CDN-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

	<!--Google font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
	<div class="page-wrapper">		
        <div class="navbar">
            <div class="navbar__Link navbar__Link-brand">
                <a href="{% url 'home' %}" class="index-link">
                <img src="{% static './images/logo.png' %}" class="navbar-logo" alt="website's logo">
                </a>
            </div>
        
            <div class="navbar__Link navbar__Link-toggle">
                <img src="{% static './images/hamburger.png' %}" alt="site's hamburger">
                <img src="{% static './images/hamburger.png' %}" alt="site's hamburger" oncl>
                <!-- <img src="assets/images/close-hamburger.png" alt="close menu" class="close-menu"> -->
            </div>
    
            <nav class="navbar__Items">
                <ul>
                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'trade-history' %}">Trade Record</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'onlinestore' %}">Online Store</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                    </li>

                    <li class="navbar__Link">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                                    
                </ul>
            </nav>
            
        </div>
		
		<br>
        <section class="hero-banner">
			<div class="header">
				<h1>Benefits of Unknown Satoshi Pro </h1>
			</div>
		</section>
        
        <section class="benefit-section">
			<div class="description-container">
				<h2>Benefits you get with unknown satoshi pro</h2>
                <ul>
					<li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Dedicated Discord chatroom</li>
					<li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Daily BTC and Alts overview </li>
					<li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Futures and Spot signals on Binance, Kucoin, FTX and Bybit</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Tutorial resources</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Interactive community</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Dedicated support</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Weekly market overviews</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Eligible for trading challenge</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Trade account support</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Presale coins to buy</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>IDO launch</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Non Fungible Tokens (NFT)</li>
                    <li class="benefit-item"><i class="far fa-check-circle benefit-icon"></i>Live webinars</li>
				</ul>
			</div>
			<div class="image-container">
				<img src="{% static './images/benefit-img.jpg' %}" class="benefit-img" alt="benefits for joining unknwn satoshi pro">
			</div>
		</section>

        <section class="pricing-section">
            <div class="pricing-header">
                <h2>Fair prices to fit your pride</h2>
                <p>Choose your subscription plan</p>
            </div>

            
            <div class="payment-option">
                <!-- Tabs -->
                <ul id="nav-tab" class="switcher">
                  <li class="active"><a href="#card">Pay with Card</a></li>
                  <li><a href="#crypto">Pay with Cryptocurrency</a></li>
                  
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                
                <div class="tab-pane active" id="card">
                    {% if plans %}
                        {% for plan in plans %}
                            <div class="pricing-container">
                                <div class="plan-wrapper">
                                    {% if plan.price == 50 %}
                                        <div class="plan-box" style="max-width: 400px;">
                                            <div class="discount">
                                                <p><del>$60</del></p>
                                                <p class="saved primary">save $15</p>
                                            </div>
                                            <h4>{{plan.title|title}}</h4>
                                            <hr>
                                            <p class="duration"><span>${{plan.price}}</span> /month</p>
                                            <a href="{% url 'register' %}" class="btn primary">Select Plan</a>
                                        </div>
                                    {% elif plan.price == 130 %}
                                        <div class="plan-box" style="max-width: 400px;">
                                            <div class="discount">
                                                <p><del>$150</del></p>
                                                <p class="saved purple">save $20</p>
                                            </div>
                                            <h4>{{plan.title|title}}</h4>
                                            <hr>
                                            <p class="duration"><span>${{plan.price}}</span> /quarter</p>
                                            <a href="{% url 'register' %}" class="btn purple">Select Plan</a>
                                        </div>
                                    {% else %}
                                        <div class="plan-box popular-box" style="max-width: 400px;">
                                            <p class="popular">Most Popular</p>
                                            <div class="discount popular-discount">
                                                <p><del>$300</del></p>
                                                <p class="saved success">save $50</p>
                                            </div>
                                            <main>
                                                <h4>{{plan.title|title}}</h4>
                                                <hr>
                                                <p class="duration"><span>${{plan.price}}</span> /year</p>
                                                <a href="{% url 'register' %}" class="btn success">Select Plan</a>
                                            </main>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                  </div>
                  
                    
                    <div class="tab-pane" id="crypto">
                        <!--=======PAYMENT VIA CRYPTO ============-->

                        <!--MODAL CONTROLLING CRYPTO ADDRESS-->
                        <main class="modal" id="dialogueModal">
                            <aside class="dialogue-box">
                                <div class="content-wrapper">
                                <span class="close" onclick="document.getElementById('dialogueModal').style.display='none'">&times;</span>
                                    <h4>For Crypto Payments pay to</h4>
                                    <div class="address-input">
                                        <label for="usdt-trc20">USDT(TRC20)</label>
                                        <input type="text" id="wallet-address" name="usdt-trc20" class="input-field" value="TG6DGfAv1wEmnEdAf9tsHJLBfRBXfSxg7s">
                                    </div>
                                    <div class="address-input">
                                        <label for="usdt-bep20">USDT(BEP20)</label>
                                        <input type="text" id="wallet-address" name="usdt-bep20" class="input-field" value="0x3b1ec9574a0b1b643db349D8d30392dBeFC8CdD2">
                                    </div>
                                    <div class="address-input">
                                        <label for="usdt-erc20">USDT(ERC20)</label>
                                        <input type="text" id="wallet-address" name="usdt-erc20" class="input-field" value="0x3b1ec9574a0b1b643db349D8d30392dBeFC8CdD2">
                                    </div>
                                    <div class="btn-group">
                                    <small class="warning"><span>Note:</span> verify network and wallets address twice before payment</small>
                                    <p class="payment-verify">
                                        After payment, send proof of payment which includes:
                                        <ul>
                                            <li class="proof-item">Name</li>
                                            <li class="proof-item">Last 10 digits of your wallets address</li>
                                            <li class="proof-item">screenshot of transfer</li>
                                        </ul>
                                        to: <a href="mailto:unknown@unknownsatoshi.com">unknown@unknownsatoshi.com</a>
                                    </p>
                                    </div>
                                </div>
                            </aside>
                        </main>
                        <!--END OF MODAL WINDOW-->
                    </div>


                    <div class="pricing-container">
                        <div class="plan-wrapper">
                            <div class="plan-box">
                                <div class="discount">
                                    <p><del>$60</del></p>
                                    <p class="saved primary">save $15</p>
                                </div>
                                <h4>Monthly plan</h4>
                                <hr>
                                <p class="duration"><span>$50</span> /month</p>
                                <button class="btn primary" onclick="document.getElementById('dialogueModal').style.display='block'">Select Plan</button>
                            </div>

                            <div class="plan-box">
                                <div class="discount">
                                    <p><del>$150</del></p>
                                    <p class="saved purple">save $20</p>
                                </div>
                                <h4>Monthly plan</h4>
                                <hr>
                                <p class="duration"><span>$130</span> /month</p>
                                <button class="btn purple" onclick="document.getElementById('dialogueModal').style.display='block'">Select Plan</button>
                            </div>

                            <div class="plan-box popular-box">
                                <p class="popular">Most Popular</p>
                                <div class="discount popular-discount">
                                    <p><del>$300</del></p>
                                    <p class="saved success">save $50</p>
                                </div>
                                <main>
                                    <h4>Monthly plan</h4>
                                    <hr>
                                    <p class="duration"><span>$250</span> /month</p>
                                    <button class="btn success" onclick="document.getElementById('dialogueModal').style.display='block'">Select Plan</button>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
        </section>
	</div>

    <footer>
        <div class="footer-content__container">
            <section class="footer-content__item">
                <h4>Contact Us</h4>
                <div class="contact-options">
                    <img src="{% static './images/alt-logo.png' %}" alt="logo for unknown satoshi" class="alt-logo">
                    
                    <p>A community focused platform which educates and empowers you with the right crypto knowledge and tools.</p>
                    <p class="iconic-paragraph"><i class="ri-mail-line"></i><a href="mailto:unknown@unknownsatoshi.com">unknown@unknownsatoshi.com</a></p>
                </div>
                
                <div class="social-links">
					<h4>Connect Socially</h4>
					<a href="https://t.me/unknown_satoshi"><i class="ri-telegram-line"></i></a>
					<a href="https://twitter.com/unknown_satoshi?t=neIjfJivVymH9Kg75UjqlA&s=09"><i class="ri-twitter-fill"></i></a>
					<a href="https://instagram.com/theunknownsatoshi?utm_medium=copy_link"><i class="ri-instagram-line"></i></a>
                    <a href="https://youtube.com/channel/UCzpteHI9OCi6eAzRJyTZjRg"><i class="ri-youtube-line"></i></a>
				</div>
            </section>

            <section class="footer-content__item">
                <h4>Quick Access</h4>
                <div class="links">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'trade-history' %}">Trade Record</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="{% url 'faqs' %}">FAQs</a>
                    <a href="{% url 'blog' %}">Blog</a>
                </div>
            </section>

            <section class="footer-content__item">
                <h4>Company</h4>
                <div class="links">
                    <a href="competition.html">Trading Competition</a>
                    <a href="{% url 'courses' %}">Courses</a>
                    <a href="{% url 'onlinestore' %}">Store</a>
                    <a href="course.html">Courses</a>
                    <a href="store.html">Store</a>
                    <a href="privacy.html">Privacy Policy</a>
                    <a href="terms.html">Terms and Conditions</a>
                </div>
            </section>
        </div>
    </footer>
	  






<!--BOOTSTRAP JAVASCRIPT-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

<!--CUSTOM JAVASCRIPT-->
<script src="{% static './js/script.js' %}"></script>
<script src="{% static './js/modal.js' %}"></script>
<script src="{% static './js/tab.js' %}"></script>

<!--Jquery CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>