{% extends 'base2.html' %}
{% load static %}




{% block content %}
<body class="about-page">
	<div class="page-wrapper" style="margin-top: -480px;">		
			     <section class="banner-section trade-banner">
                <div class="header-group">
                    <h4>TRADE RECORD</h4>
                    <h1>Our Trade History</h1>
                </div>
            </section>             

            <h3 class="history-heading">Check out Unknown Satoshi's signal performance and percentage profit & loss per trade to know what you are missing!</h3>

            <section class="trade-table">

              <table>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Coin pair</th>
                    <th scope="col">Entry</th>
                    <th scope="col">stop loss</th>
                    <th scope="col">tp target</th>
                    <th scope="col">tp achieved</th>
                    <th scope="col">% profit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cms in cmss %}
                  <tr>
                    <td data-label="Date">{{ cms.created }}</td>
                    <td data-label="Coin pair">{{ cms.title }}</td>
                    <td data-label="Entry">{{ cms.entry }}</td>
                    <td data-label="stop loss">{{ cms.stoploss }}</td>
                    <td data-label="tp target">{{ cms.tp_target }}</td>
                    <td data-label="tp achieved">{{ cms.tp_achieved }}</td>
                    <td data-label="% profit">{{ cms.profit }}</td>
                  </tr>
            
                  {% endfor %}
                  
                </tbody>
              </table>
            </section>
	</div>
{% endblock content %}