{% extends 'admin_base.html' %}
{% load static %}


{% block content %}
<section class="panel-section" style="margin-top: -700px;">
  <div class="panel-content">
    <div class="page-wrapper admin-wrapper">		
      <section class="alt-nav">
          <h4>Add Trade</h4>
          <a href="{% url 'admin-history' %}" class="btn">Manage Trade</a>
      </section> 
      <div class="content-container">
          <section class="add-product">
              <div class="fields-wrapper">
                  <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                      {% for field in form %}
                        <div class="form__field">
                            <label for="formInput#text">{{field.label}}: </label>
                            {{field}}
                        </div>
                      {% endfor %}
                      
                      <button class="btn" type="submit" name="submit-btn">Add Trade</button>
                  </form>
              </div>
          </section>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
  


  