* {
  font-family: "Poppins", sans-serif;
}

.edit:hover, .delete:hover, .publish:hover {
  text-decoration: underline;
  color: #F8A606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.edit {
  color: #45AD43;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.delete {
  color: #F83A3A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.publish {
  color: #0077B5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn.success-btn, .btn.danger-btn {
  height: 40px;
  padding: 8px 20px;
  cursor: pointer;
}

.btn.success-btn {
  background-color: #45AD43;
}

.btn.danger-btn {
  background-color: #F83A3A;
}

button {
  outline: none;
  border: unset;
}

.exception {
  visibility: hidden;
}

/*========AUTHENTICATION DENIAL STYLING=========*/
.auth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}
.auth-section .ri-lock-line {
  font-size: 120px;
  color: #C4C4C4;
}

/*----------LOGIN PAGE STYLING----------*/
.admin-nav {
  height: 72px;
}

.login-nav .logo-exception {
  margin-top: 24px;
}

h2 {
  text-align: center;
  margin: 48px 0;
}

.login-wrapper {
  width: 50%;
  margin: auto;
  background-color: #1D1D1D;
  height: 25em;
  border-radius: 8px;
  margin-bottom: 48px;
}

.login-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}
.login-fields form {
  width: 80%;
}
.login-fields form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.login-fields form .input-field, .login-fields form textarea {
  margin-top: 8px;
  width: 100%;
}
.login-fields form button {
  float: right;
}

@media screen and (max-width: 800px) {
  .login-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .login-wrapper {
    width: 90%;
  }

  .admin-nav {
    position: fixed;
    top: 0;
    background-color: #0A0909;
  }
}
/*-------ADMIN INDEX PAGE STYLING--------*/
.admin-index table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
}
.admin-index table th, .admin-index table td {
  text-align: center;
  padding: 24px;
}

@media screen and (max-width: 600px) {
  .admin-index table {
    width: 95%;
  }
  .admin-index table {
    border: 0;
  }
  .admin-index table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .admin-index table tr {
    display: block;
    margin-bottom: 48px;
  }
  .admin-index table td {
    border-bottom: 1px solid #464343;
    display: block;
    text-align: right;
  }
  .admin-index table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
  }
  .admin-index table table td:last-child {
    border-bottom: 0;
  }
}
/*========STYLING FOR TRADE HISTORY ADMIN PANEL--------*/
.alt-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  background-color: #1D1D1D;
  border-radius: 8px;
  margin-top: 24px;
}
.alt-nav h4 {
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .admin-wrapper {
    margin-top: 100px;
  }

  .alt-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .alt-nav h4 {
    margin-bottom: 24px;
  }
}
.trade-table {
  width: 100%;
}
.trade-table button {
  background: none;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
.trade-table thead {
  font-weight: normal;
}
.trade-table tbody {
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .trade-table table {
    border: 0;
  }
  .trade-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .trade-table table tr {
    display: block;
    margin-bottom: 48px;
  }
  .trade-table table td {
    border-bottom: 1px solid #464343;
    display: block;
    text-align: right;
  }
  .trade-table table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
  }
  .trade-table table table td:last-child {
    border-bottom: 0;
  }
}
/*==========MODAL STYLINGS========*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  padding-bottom: 12px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.dialogue-box {
  background-color: #1A1A1A;
  border-radius: 8px;
  padding: 24px;
  max-width: 450px;
  height: 300px;
  margin: auto;
}
.dialogue-box .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20%;
}
.dialogue-box .close {
  color: #aaaaaa;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -20%;
  margin-bottom: 15%;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dialogue-box .close:hover, .dialogue-box .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dialogue-box p {
  margin-bottom: 48px;
}
.dialogue-box .btn-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.dialogue-box .btn-group button {
  margin-right: 12px;
}

@media only screen and (max-width: 600px) {
  .dialogue-box {
    width: 80%;
  }
}
@media only screen and (max-width: 348px) {
  .dialogue-box {
    padding: 12px;
    height: 270px;
  }
}
.create-history .fields-wrapper form {
  width: 80%;
}
.create-history .fields-wrapper form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.create-history .fields-wrapper form .input-field, .create-history .fields-wrapper form textarea {
  margin-top: 8px;
  width: 100%;
}
.create-history .fields-wrapper form button {
  float: right;
}
.create-history .fields-wrapper form {
  width: 80%;
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  .create-history {
    width: 80%;
  }
}
@media only screen and (max-width: 348px) {
  .create-history {
    padding: 12px;
  }
}
/*========STYLING FOR ONLINE STORE ADMIN PANEL--------*/
.store-table img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.store-table table thead tr {
  background-color: #1E1E1E;
}
.store-table table tr:nth-child(even) {
  background-color: unset;
}

@media only screen and (max-width: 592px) {
  .store-table table tr:nth-child(even) {
    background-color: #333333;
  }
}
/*============CREATE PRODUCT ADMIN PANEL========*/
.content-container {
  background-color: #1D1D1D;
  margin: 48px 0;
  border-radius: 8px;
}

.add-product .fields-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}
.add-product .fields-wrapper form {
  width: 80%;
}
.add-product .fields-wrapper form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.add-product .fields-wrapper form .input-field, .add-product .fields-wrapper form textarea {
  margin-top: 8px;
  width: 100%;
}
.add-product .fields-wrapper form button {
  float: right;
}
.add-product .fields-wrapper form {
  width: 70%;
  margin-top: 24px;
}
.add-product .fields-wrapper input[type=file] {
  background-color: #C4C4C4;
  color: #000;
}
.add-product .fields-wrapper input[type=file]::-ms-browse {
  background-color: #EE5717;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #fff;
}
.add-product .fields-wrapper input[type=file]::-webkit-file-upload-button {
  background-color: #EE5717;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #fff;
}
.add-product .fields-wrapper input[type=file]::file-selector-button {
  background-color: #EE5717;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #fff;
}
.add-product .fields-wrapper input[type=file]::-ms-browse:hover {
  background-color: #F8A606;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.add-product .fields-wrapper input[type=file]::-webkit-file-upload-button:hover {
  background-color: #F8A606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add-product .fields-wrapper input[type=file]::file-selector-button:hover {
  background-color: #F8A606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add-product .fields-wrapper button {
  margin-bottom: 48px;
}

/*==============COURSE ADMIN PAGE STYLING SECTION=========*/
.course-wrapper .trade-table table th, .course-wrapper .trade-table table td {
  padding-bottom: 48px;
}

/*===========ADD POST ADMIN PAGE STYLING=========*/
.add-post .fields-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}
.add-post .fields-wrapper form {
  width: 80%;
  margin-top: 24px;
}
.add-post .fields-wrapper form main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
.add-post .fields-wrapper form .input-field, .add-post .fields-wrapper form textarea {
  margin-top: 8px;
  width: 100%;
}
.add-post .fields-wrapper .ck-content {
  background-color: #434343;
  color: #000;
}
.add-post .fields-wrapper .ck-link_selected {
  text-decoration: underline;
  color: #000;
  background-color: unset;
}
.add-post .fields-wrapper .form-body {
  resize: both;
  height: 200px;
  background-color: #434343;
}
.add-post .fields-wrapper input[type=file] {
  background-color: #C4C4C4;
  color: #000;
}
.add-post .fields-wrapper input[type=file]::-ms-browse {
  background-color: #EE5717;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #fff;
}
.add-post .fields-wrapper input[type=file]::-webkit-file-upload-button {
  background-color: #EE5717;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #fff;
}
.add-post .fields-wrapper input[type=file]::file-selector-button {
  background-color: #EE5717;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #fff;
}
.add-post .fields-wrapper input[type=file]::-ms-browse:hover {
  background-color: #F8A606;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.add-post .fields-wrapper input[type=file]::-webkit-file-upload-button:hover {
  background-color: #F8A606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add-post .fields-wrapper input[type=file]::file-selector-button:hover {
  background-color: #F8A606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add-post .fields-wrapper .btn {
  margin-bottom: 48px;
  float: right;
}